<%- include ../includes/header.ejs %>
<div class="container" data-hivclusterid="<%= hivclusterid %>" >
<h1 class="page-header">HIV Clustering Analysis</h1>

</div>
<%- include ../includes/footer.ejs %>
<script src="/assets/js/socket.io.min.js"></script>
<script src="/assets/js/hivcluster/main.js"></script>
