<%- include ../includes/header.ejs %>
<div class="container">
<h2 class="page-header">Analysis Options</h2>

  <form onsubmit="return CheckValidDnDS()" action="/msa/<%= uploadfile.upload_id %>/prime" enctype="multipart/form-data" method="POST" name="modelForm">
    <div id="treeMode" class="control-group">
      <label class="control-label" for="treeMode">Tree Mode</label>
      <label class="radio">
        <input type="radio" checked name="treeMode" id="treeModeChoice0" value="neighbor-join">
          Neighbor Joining Tree
      </label>
      <label class="radio">
        <input type="radio" name="treeMode" id="treeModeChoice1" value="user-tree">
          User Tree(s)
      </label>
    </div>
    <div id="property_set" class="control-group">
      <label for="prime_property_choice" class="control-label">Amino-acid property set<a class="info" target="_blank" href="/help#aminoacidproperty"><sup>?</sup></a></label>
      <select name="prime_property_choice">
        <option selected="" value="0">Conant-Stadler
        </option>
        <option value="1">Atchley
        </option>
      </select>
    </div>
    <div>
      <button type="submit" class="btn btn-primary pull-right">Run the analysis</button>
    </div>
  </form>
</div>
<%- include ../includes/footer.ejs %>
<script src="/assets/js/analysis/create.js"></script>
