<h1 class="page-header">How does SLAC handle ambiguous characters in the
data?</h1>

<p> For more details see <a
href='http://mbe.oxfordjournals.org/cgi/content/short/22/5/1208' class =
'REFERENCE'>MBE paper</a> </p>

<h3>Averaged (default)</h3> <p> All possible resolutions of an ambiguous
character contribute, in a weighted fashion, to the computation of EN, ES, NN
and NS (see <a href="../paper.pdf">methods paper</a>). Characters without any
information (all gaps or all missing) are NOT counted though, to avoid
artifically high dN and dS estimates.</p>

<h3>Resolved</h3> <p> The most likely resolution <i> for the given site </i> is
used in the computation of EN, ES, NN and NS. Ties are broken randomly.  </p>

<h3>Example</h3> <p> Consider the site: <pre>

ACA ACG ACG ACR

</pre>

<p>
For the resolved option, only most frequent resolution  <i>based on the data in
the site only</i>, will be considered.  In this case, the resolution is
'ACG'
</p>

<p>
For the averaged option, all four possible resolutions ('ACA' and 'ACG') will
be considered.  The weight factor for each resolved is determined by the
relative frequency of that codon to all possible resolutions.  If f(xyz)
denotes the frequency of codon xyz in the entire data file, then the
contribution of ACA will be f(ACA)/(f(ACA)+f(ACG)) and of 'ACG' :
f(ACG)/(f(ACA)+f(ACG)).  
</p>
