<h1 class="page-header">How to select a dN/dS option of SLAC?</h1>

<p>
The effect of dN/dS options can be found in this <a
href='http://mbe.oxfordjournals.org/cgi/content/short/22/5/1208' class =
'REFERENCE'>MBE paper</a>
</p>

<h3>Neutral</h3>
<p>
dN/dS is fixed at 1. This assumes completely neutral "average" evolution (there can still be a lot of site to site variation, however).
There is rarely any reason to use this option, except as a 'bad' null case.
</p>

<h3>User Supplied</h3>
<p>
dN/dS is chosen by the user (must be a positive value). Saves some computation
time (about 50%). Please use this option if you rerun the analysis, and enter a
previously estimated value.
</p>

<h3>Estimated (default)</h3>
<p>
dN/dS is estimated from the data. <b>If in doubt, use this option.</b>
</p>

<h3>Estimated with CI</h3>
<p>
dN/dS is estimated from the data AND likelihood profile based 95% confidence intervals for that value are computed. 
This is the slowest option of all.
If your data set is small, computing a confidence interval is advisable, since dN/dS influences positive and negative selection identification
significantly. You may first run this option, and later rerun the analysis entering first the lower and then the upper limit of the confidence interval
to assess how estimation errors in dN/dS may influence the results.
</p>

<h3>Note</h3>
<p>
Note: applies only to SLAC. FEL and REL estimate dN/dS differently.
</p>

