<h1 class="page-header">How to select a nucleotide model?</h1>

<p>
    Complete model selection procedure details can be found in this <a
    href='http://mbe.oxfordjournals.org/cgi/content/short/22/5/1208' class =
    'REFERENCE'>MBE paper</a>
</p>

<h3>General Advice</h3>

<p>
We recommend that you run a model selection procedure, which sifts all 203
possible time-reversible models through a hierarchical testing procedure
combining nested LRT tests with AIC selection to pick a single "best-fitting"
rate matrix. Model selection is processed on a remote cluster, and should take
no more than a few minutes to complete.
</p>

<p>
To allow the most general model of nucleotide substituion, select the General
Reversible Model (REV), since it does not add much to the overall processing
time.  However, if your data set is small, it may not be possible to accurately
estimate nucleotide substitution bias rates, and HKY85 might not be a bad
choice.  You can also try several different models and see if the location of
inferred sites changes depending on the nucleotide model (it rarely does,
unless the model is very wrong).
</p>
