lib-cov
*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz
tags

pids
logs
results
console
node_modules
coverage
.hyphy
.tn93
.public

npm-debug.log
config/setup.js
bower_components
uploads
src/bower-components
public/assets/fonts
public/fonts

yarn.lock
package-lock.json

public/assets/js/*.woff*
public/assets/js/*.eot
public/assets/js/*.svg
public/assets/js/*.ttf
public/assets/js/datamonkey.css*
public/assets/js/datamonkey.js*
