lib-cov
*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz
tags

pids
logs
results
console
node_modules
coverage
.hyphy

npm-debug.log
config/setup.js
bower_components
uploads
src/bower-components
public/assets/fonts
