<%- include ../includes/header.ejs %>

<div class="container">

   <%- include header.ejs %>

  <h2 class="page-header">Analysis Options</h2>

  <div class="branch-selection-container"></div>

 </div>

<%- include ../includes/modal.ejs %>
<%- include ../includes/footer.ejs %>

<script>
  render_branch_selection("branch-selection-container");
</script>
