<%- include ../includes/header.ejs %>

<div class="container">

   <%- include header.ejs %>

  <h2 class="page-header">Analysis Options</h2>

  <div class="container" id="branch-selection-container"></div>

 </div>

<%- include ../includes/modal.ejs %>
<%- include ../includes/footer.ejs %>

<script>
  datamonkey_branch_selection("branch-selection-container", 800, 600, false)
  //render_branch_selection("branch-selection-container", "((me,you), them)" ,null , console.log, 800, 600, false)
</script>

<!--"((me,you), them)"-->
