<div id='content'></div>

<img id="hyphy-chart-image" />
<canvas id="hyphy-chart-canvas"></canvas>

<script>

  $(document).ready( function () {
    hyphyVision.bgm($("#job-report").data('jobid') + '/results', "content", false, true, true);
  });

</script>
