<link href="/assets/css/busted/font-awesome-4.2.0/css/font-awesome.css" rel="stylesheet">
<link rel="stylesheet" href="/assets/css/busted/dc.css">

<!-- <meta name="viewport" content="width=device-width, initial-scale=1.0">-->
<link href="/assets/lib/phylotree/phylotree.css" rel="stylesheet">
<link href="/assets/css/busted/busted.css" rel="stylesheet">

<div class='container'>
    <div class="loader" title="0">
      <svg version="1.1" id="loader-1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
       width="40px" height="40px" viewBox="0 0 40 40" enable-background="new 0 0 40 40" xml:space="preserve">
      <path opacity="0.2" fill="#000" d="M20.201,5.169c-8.254,0-14.946,6.692-14.946,14.946c0,8.255,6.692,14.946,14.946,14.946
        s14.946-6.691,14.946-14.946C35.146,11.861,28.455,5.169,20.201,5.169z M20.201,31.749c-6.425,0-11.634-5.208-11.634-11.634
        c0-6.425,5.209-11.634,11.634-11.634c6.425,0,11.633,5.209,11.633,11.634C31.834,26.541,26.626,31.749,20.201,31.749z"/>
      <path fill="#000" d="M26.013,10.047l1.654-2.866c-2.198-1.272-4.743-2.012-7.466-2.012h0v3.312h0
        C22.32,8.481,24.301,9.057,26.013,10.047z">
        <animateTransform attributeType="xml"
          attributeName="transform"
          type="rotate"
          from="0 20 20"
          to="360 20 20"
          dur="0.5s"
          repeatCount="indefinite"/>
        </path>
      </svg>
    </div>

    <div class='tabbable content hidden'>
      <ul class="nav nav-tabs">
        <li class="active"><a href="#summary_tab" data-toggle="tab">Summary</a></li>
        <li class=""><a href="#tree_tab" data-toggle="tab">Tree</a></li>
      </ul>
  
      <div class="tab-content">
          <div class="tab-pane active" id="summary_tab">
            <div class = "row" style = 'margin-top: 5px'>
              <div class = "col-md-12">
                <ul class="list-group">
                <li class="list-group-item list-group-item-info">
                  <h3 class="list-group-item-heading"><i class="fa fa-list" style = 'margin-right: 10px'>
                  </i><span id = 'summary-method-name'>BUSTED</span> summary</h3>
                    There is <strong><span id='summary-test-result' ></span></strong> of episodic diversifying selection, with LRT p-value of <span id='summary-test-pvalue'>.
                    <p>
                      <small>Please cite <a href = '#' id = 'summary-pmid'>PMID XXX</a> if you use this result in a publication, presentation, or other scientific work.</small>
                    </p>
                 </li>
                </ul>
              </div>
            </div>

             <div class = "row">
                <div class = "col-lg-12">
                  <ul class="list-group">
                    <li class="list-group-item">
                      <h4 class="list-group-item-heading"><i class="fa fa-cubes" style = 'margin-right: 10px'></i>Model fits</h4>
                      <table class = "table table-hover table-condensed list-group-item-text" style = "margin-top:0.5em;">
                        <thead>
                            <tr>
                              <th>Model</th>
                              <th><em> log </em>L</th>
                              <th><abbr title = "Number of estimated model parameters"># par.</abbr></th>
                              <th><abbr title = "Small Sample AIC">AIC<sub>c</sub></abbr></th>
                              <th>Time to fit</th>
                              <th>Total tree length</th>
                              <th>&omega;<sub>1</sub></th>
                              <th>&omega;<sub>2</sub></th>
                              <th>&omega;<sub>3</sub></th>
                           </tr>
                        </thead>
                        <tbody id = 'summary-model-table'></tbody>
                       </table>                            
                     </li>
                   </ul>
                </div>
            </div>

            <button id="export-chart-svg" type="button" class="btn btn-default btn-sm pull-right btn-export">
              <span class="glyphicon glyphicon-floppy-save"></span> Export Chart to SVG
            </button>

            <button id="export-chart-png" type="button" class="btn btn-default btn-sm pull-right btn-export">
              <span class="glyphicon glyphicon-floppy-save"></span> Export Chart to PNG
            </button>

            <div class='row site-table'>
              <div id="chart-id" class="col-lg-12">
                <strong>Model Evidence Ratios Per Site</strong>
                <div class="clearfix"></div>
              </div>
            </div>


            <div class='row site-table'>

              <div class="col-lg-12 clearfix">
                <button id="export-csv" type="button" class="btn btn-default btn-sm pull-right btn-export">
                  <span class="glyphicon glyphicon-floppy-save"></span> Export Table to CSV
                </button>

                <table id="sites" class="table sites dc-data-table">
                  <thead>
                    <tr class="header">
                      <th>Site Index</th>
                      <th>Unconstrained Likelihood</th>
                      <th>Constrained Likelihood</th>
                      <th>Optimized Null Likelihood</th>
                      <th>Constrained Evidence Ratio</th>
                      <th>Optimized Null Evidence Ratio</th>
                    </tr>
                  </thead>
                </table>
              </div>
            </div>
          </div>

          <div class="tab-pane" id="tree_tab">


              <div class="row">
                <div class ="col-lg-8 phylo-nav">
                   <div class="btn-group">
                    <button type="button" class="btn btn-default btn-sm" id = "expand_spacing">
                      <i class="fa fa-expand" ></i>
                    </button>
                     <button type="button" class="btn btn-default btn-sm" id = "compress_spacing">
                      <i class="fa fa-compress"></i>
                    </button>
                    <button id="export-phylo-svg" type="button" class="btn btn-default btn-sm">
                      <span class="glyphicon glyphicon-floppy-save"></span> SVG
                    </button>
                    <button id="export-phylo-png" type="button" class="btn btn-default btn-sm">
                      <span class="glyphicon glyphicon-floppy-save"></span> PNG
                    </button>
                  </div>
                </div>
              </div>        

              <div class="row">

                <div class="col-lg-8">
                  <div id="tree_container" class="tree-widget"></div>
                </div>

                <div class="col-lg-4">
                  <div class="panel panel-default">
                    <div id="primary_omega_tag" class="panel-heading">
                      Foreground
                      <div class="dist-export btn-group">
                        <button id="export-dist-svg" type="button" class="btn btn-default btn-sm">
                          <span class="glyphicon glyphicon-floppy-save"></span> SVG
                        </button>
                        <button id="export-dist-png" type="button" class="btn btn-default btn-sm">
                          <span class="glyphicon glyphicon-floppy-save"></span> PNG
                        </button>
                      </div>
                    </div>
                    <div id="primary-omega-dist" class="panel-body">
                      <svg id="primary-omega-plot"></svg>
                    </div>
                  </div>
                </div>
            </div>
          </div>
      </div>
  </div>
</div>

<img id="chart-image" />
<canvas id="chart-canvas"></canvas>

<!--
###############################################################################################################################
-->

<script src="/assets/lib/phylotree/phylotree.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/crossfilter/1.3.9/crossfilter.js"></script>
<script src="http://cdnjs.cloudflare.com/ajax/libs/dc/1.7.0/dc.min.js"></script>
<script src="/assets/js/busted/exports.js"></script>
<script src="/assets/js/busted/busted-distribution.js"></script>
<script src="/assets/js/busted/busted-histogram.js"></script>
<script src="/assets/js/busted/busted.js"></script>
