<h1 id="busted" class="page-header">BUSTED</h1>
<h3 id="busted-usage" class="page-header">Usage</h3>
<div class="bs-callout bs-callout-info">
  <h4>Sequence Alignment</h4>
  <p> The FASTA formatted multiple sequence alignment that is to be uploaded.
  Please see <a href="#data-formats">Data Formats</a> for details.</p>
</div>

