<h1 class="page-header">Available topics.</h1>

<h3><a href="tutorial.pdf">Tutorial</a></h3>
<p>
An example based tutorial on using Datamonkey. An excellent 'Getting Started' resource!
</p>

<h3><a href="data.php">Data files</a></h3>
<p>
Preparing data files for Datamonkey.org: general guidelines and common mistakes to avoid.
</p>

<h3>Site-by-site selection</h3>
<p>
There are <b>six</b> available methods to test selection at a single codon site:
</p>

<h3>
<a href="slac.php">SLAC</a> [all methods are subject to  <a href="/cgi-bin/datamonkey/wrapHyPhyBF.pl?file=limits">maximum size restrictions</a>]
</h3>
<p>
The fastest and most conservative method. Use it for large datasets (50 sequences or more) 
and to obtain substitution maps at each site - a useful feature for visualizing the evolutionary
process. 
</p>

<h3><a href="fel.php">FEL/IFEL</a></h3>
<p>
The best overall method, in terms of tradeoff between statistical performance and computational expense. 
Use it for intermediate to large datasets (50 sequences or more) and if you wish to obtain good site-by-site
substitution rate estimates.
Use IFEL to test for sitewise selection on internal branches of the tree.
</p>

<h3><a href="rel.php">REL</a></h3>
<p>
REL is an extension of familiar codon-based selection analyses pioneered by Nielsen and Yang 
and implemented in PAML. Importantly, REL allows synonymoys rate variation.
It is often the only method that can infer selection from small (5-15 sequence) or low divergence alignments, 
but also the method that makes the most assumptions and susceptible to high rates of false positives in extreme cases. 
</p>

<h3><a href="toggle.php">TOGGLE</a></h3>

<p>
TOGGLE analysis evaluates selection associated with host-immune response. This model was developed to identify sites
which toggle between a wild-type and escaped amino acid state. Typically, these sites have lower levels of amino acid diversity and are not detected by
standard diversifying selection tests of selection. However, the analysis is computationally expensive since site-wise tests of escape from wild-type amino acid resiudes are
evaluated for each of the 20 potential wildtypes. Note that alignments with more than 50 sites can be uploaded, however only 50 sites will be tested for toggling. Indeed, we recommend that alignments of more than 50 sites are used for the estimation of branch lengths (the first phase of TOGGLE).
</p>

<h3>
<a href="deps.php">DEPS</a>
</h3>

<p>
Directional Evolution of Protein Sequences uses amino acid sequences to identify directional evoltion towards residues at sites. 
Useful for the detection of selective sweeps.
</p>

<h3>
<a href="meme.php">MEME</a>
</h3>

<p>
Mixed effects model evolution which combines FIXED effects at the level of a site with RANDOM effects at the level of branches.
This model is an extension of FEL, where the ω values are allowed to vary along branches according to a 2-bin distribution, i.e. some
branches may be under positive selection while others - under negative selection.

This method is most appropritate to detect <emph>episodic diversifying selection</emph> affecting indvidiual codon sites.
</p>

<h3>
Overall signature of selection. <a href="parris.php">PARRIS</a>
</h3>

<p>
An extension of standard likelihood ratio tests to deal with recombinant 
data. Useful for answering the question: is there evidence of positive selection
anywhere in my alignment?
</p>

<h3>
Evolutionary Fingerprinting. <a href="esd.php">ESD</a>
</h3>

<p>
This method fits a versatile general discrete bivariate model of site to site variation in selection. 
The evolutionary fingerprint comprises a description of the number of selective classes, the dN/dS rates for each
class and the assignment of sites to classes.
</p>

<h3>Diversifying selection along lineages (branch- and branch-site type models)</h3>
<p>
There are <b>two</b> available methods to test for diversifying selection along individual lineages:
</p>


<h3>
 <a href="GABranch.php">GA Branch</a> 
</h3>
<p>
A genetic algorithm based data mining procedure which automatically partitions 
all branches in the tree into several selective regimes (and infers the most
appropriate regimes), and performs multi-model inference for increased robustness.
</p>

<h3>
<a href="bsr.php">Branch Site REL</a>
</h3>
<p>
A principled approach to so-called "branch-site" models, i.e. models that allow evolutionary rate variation along both branches 
and sites simultaneously. The resulting model allows us to detect lineages on which a subset of sites have evolved under 
positive selection, without requiring prior knowledge about which lineages are of interest. 
This approach has better power and accuracy that the popular branch-site model of Yang and Nielsen in nearly all cases.
</p>

<h3>Lineage specific selection</h3>
<p>
</p>

<h3>Evolutionary interations between sites. <a href="spidermonkey.php">Spidermonkey</a></h3>
<p>
Use a Bayesian Graphical Model (BGM) applied to reconstructed evolutionary histories of individual sites
to find evidence of co-evolution between sites in an alignment.
</p>

<h3>Codon Model Selection. <a href="cms.php">CMS</a></h3>
<p>
Use a Genetic Algorithm to identify the best model of codon evolution which allows for multiple non-synonymous substitution rates.
</p>

<h3>Recombination detection. <a href="recomb.php">SBP/GARD</a></h3>
<p>
Determine whether recombination has acted on your alignment, and identify recombination breakpoints using a Genetic Algorithm.
</p>

<h3>HIV-1 subtype assignment. <a href="scueal.php">SCUEAL</a></h3>
<p>
Assign HIV-1 subtypes based on HIV-1 <i>pol</i> alignments.
</p>

<h3>Ancestral Sequence Reconstruction. <a href="asr.php">ASR</a></h3>
<p>
Reconstruct ancestral sequences using three likelihood-based methods.
</p>

<h3>
<a href="http://www.hyphy.org/cgi-bin/hyphy_forums/YaBB.pl?board=DM1">Other topics.</a>
</h3>
<p>
Post your questions on our user assistance message boards if none of the above topics match your query.
</p>
