<h1 id="hivtrace" class="page-header">HIV Trace</h1>

<h3 id="hivtrace-usage" class="page-header">Usage</h3>
<table class="table table-bordered table-striped">
  <tr>
    <th>Parameter</th><th>description</th>
  </tr>
  <tr>
    <td>Sequence Alignment</td>
    <td>The FASTA formatted multiple sequence alignment that is to be uploaded. Please see TODO for details</td>
  </tr>
  <tr>
    <td>Distance Threshold</td>
    <td></td>
  </tr>
  <tr>
    <td>Minimum Overlap</td>
    <td></td>
  </tr>
  <tr>
    <td>Handle Ambiguities</td>
    <td></td>
  </tr>
  <tr>
    <td>Notify When Completed</td>
    <td></td>
  </tr>

</table>
