<%- include("../includes/header.ejs") %>

<div id="container" class="container">
  <%- include("header.ejs") %>

  <div class="nav nav-list float-right span4i"><a href="/help" target="_blank"><span class="glyphicon glyphicon-info-sign"></span></a></div>

  <div class="row">  

    <form id="msa-form" class="form-horizontal upload-form col-12" name="uploadform" enctype="multipart/form-data" method="post" action=<%= post_to %>>

      <div id="seq-file-div" class="upload-div">
          <input id="seq-file" type="file" name="files">
          <div id="file-progress" class="progress progress-striped active hidden">
              <div class="progress-bar" role="progressbar" aria-valuenow="0" aria-valuemin="1" aria-valuemax="100">
                <span class="sr-only">0% Complete</span>
              </div>
          </div>  
      </div>

      <div class="upload-div">

        <label id="geneticcode-content">Genetic Code<a href="/help#genetic-code" target="_blank"><sup>?</sup></a></label>

        <select name="gencodeid">

          <option value="0">
            Universal code
          </option>

          <option value="1">
            Vertebrate mitochondrial DNA code
          </option>

          <option value="2">
            Yeast mitochondrial DNA code
          </option>

          <option value="3">
            Mold, Protozoan and Coelenterate mt;
            Mycloplasma/Spiroplasma
          </option>

          <option value="4">
            Invertebrate mitochondrial DNA code
          </option>

          <option value="5">
            Ciliate, Dasycladacean and Hexamita Nuclear code
          </option>

          <option value="6">
            Echinoderm mitochondrial DNA code
          </option>

          <option value="7">
            Euplotid Nuclear code
          </option>

          <option value="8">
            Alternative Yeast Nuclear code
          </option>

          <option value="9">
            Ascidian mitochondrial DNA code
          </option>

          <option value="10">
            Flatworm mitochondrial DNA code
          </option>

          <option value="11">
            Blepharisma Nuclear code
          </option>

        </select> 
      </div>

      <div class="ds-variation-div">
        <label>Synonymous rate variation (recommended)?</label>
        <select id="ds-variation">
          <option value="1">
            Yes
          </option>
          <option value="2">
            No 
          </option>
        </select>
      </div>


      <div class="form-group <%if (typeof errors != "undefined" && typeof errors.mail != "undefined") { %>has-error<% } %>">
        <label id="datatype-content" class="control-label">Notify When Completed?</label>
        <div class="input-group mail-group">
          <input name="mail" type="text" class="form-control" placeholder="Email Address">
        </div>
      </div><!-- /form-group -->

      <div class="accordion" id="accordionExample">
        <div class="card">
          <div class="card-header" id="headingOne">
            <h5 class="mb-0">
              <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                Advanced Options
              </button>
            </h5>
          </div>

          <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">
            <div class="card-body">

              <div class="resample">
                <p>[Advanced setting, will result in MUCH SLOWER run time] Perform parametric bootstrap resampling to derive site-level null LRT distributions up to this many replicates per site. Recommended use for small to medium (<30 sequences) datasets.</p>
                <label>Resample?</label>
                <input type="number" id="resample" name="resample" placeholder="50" min="0" max="1000">
              </div>

              <div class="confidence-intervals">
                <p>Compute profile likelihood confidence intervals for each variable site</p>
                <label>Yes?</label>
                <input type="checkbox" id="confidence-interval" name="confidence-interval">
              </div>

            </div>
          </div>
        </div>
      </div>

      <button type="submit" id="submit-button" class="dm-continue-btn btn float-right mt-3">
        Run Analysis <span class="fa fa-play"></span>
      </button>

    </form>
  </div>

</div>

<div aria-labelledby="errorModalLabel" role="dialog" id="errorModal" class="modal ng-scope">
  <div class="modal-dialog"><div class="modal-content">
    <div class="modal-header dialog-header-error">
      <button data-dismiss="modal" class="close" type="button">×</button>
      <h4 class="modal-title text-danger"><span class="glyphicon glyphicon-warning-sign"></span> Error</h4>
      </div>
      <div id="modal-error-msg" class="modal-body text-danger">This is my error message</div>
      <div class="modal-footer">
        <button data-dismiss="modal" class="btn btn-primary" type="button">Close</button>
      </div>
    </div>
  </div>
</div>

<%- include("../includes/footer.ejs") %>
<script src="/assets/js/fel/msa_form.js"></script>
