<h3> Parameters </h3>
<p>
Sequence Alignment
The FASTA formatted multiple sequence alignment that is to be uploaded. 
</p> 
<p>
Distance Threshold

</p>
<p>
Minimum Overlap
</p>
<p>
Handle Ambiguities
</p>
<p>
Notify When Completed
</p>
