.bs-docs-featurette {
  background-color: #fff;
  /*border-bottom: 1px solid #e5e5e5;*/
  color: #555;
  font-size: 16px;
  line-height: 1.5;
  padding-bottom: 40px;
  padding-top: 40px;
  /*text-align: center;*/
}

.bs-docs-featurette h2 {
  margin-bottom:20px;
  /*text-align: center;*/
}

.bs-docs-featurette-title {
  color: #333;
  font-size: 30px;
  font-weight: 400;
  margin-bottom: 5px;
}

.datamonkey-header {
  fill: none;
  stroke: #000;
  background-color: #E7E6F2;
  /*background-image: url('../img/dm_whole.png');*/
  background-repeat: no-repeat;
  background-position: bottom right;
  padding : 20px;
  font-size: 16px;
  font-weight: 300;
  line-height: 1.4;

  /*color: #cdbfe3;*/
  padding: 30px 15px;
  position: relative;
  text-align: center;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);

}

.datamonkey-header h1{
 font-family: "Droid Serif", Georgia;; 
 font-size: 12em;
}


label {
 font-family: "Droid Serif", Georgia;
}

.datamonkey-sm-header {

  fill: none;
  stroke: #000;
  background-color: #white;
  /*background-image: url('../img/dm_whole.png');*/
  background-repeat: no-repeat;
  background-position: bottom right;
  font-size: 16px;
  font-weight: 300;
  line-height: 1.4;
  margin-bottom: 5px;

  /*color: #cdbfe3;*/
  padding: 30px 0px;
  position: relative;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);

}


.datamonkey-sm-header h1{
 font-family: "Droid Serif", Georgia;; 
 /*margin-left: 15px;*/
 font-size: 3em;
 display : inline;
 padding-bottom:5px;
}

.datamonkey-sm-header p {
 margin-left: 15px;
 display:inline;
}


.lead {
  font-size: 16px;
  font-weight: 300;
  line-height: 1.4;
  margin-top: 40px;
  margin-bottom: 20px;
}

body {
  background-color: #FFFFFF;
  position: relative;
}

#dm-news-logo {
  width: 75px;
}

#tiny-monkey-logo {
  width: 65px;
  float: left;
  position: relative;
  bottom: -15px;
}

li.media {
  margin-top: 5px;
}

.upload-div {
  margin: 0px 0px 15px 0px;
}

.boxed-group {
  background: none repeat scroll 0 0 #EFEFEF;
  border-radius: 3px 3px 3px 3px;
  margin: 0 0 15px;
  padding: 3px;
  position: relative;
}

.boxed-group .boxed-group-inner {
  -moz-border-bottom-colors: none;
  -moz-border-left-colors: none;
  -moz-border-right-colors: none;
  -moz-border-top-colors: none;
  background: none repeat scroll 0 0 #FFFFFF;
  border-bottom-left-radius: 1px;
  border-bottom-right-radius: 1px;
  border-color: #CCCCCC #D8D8D8 #D8D8D8;
  border-image: none;
  border-right: 1px solid #D8D8D8;
  border-style: solid;
  border-width: 1px;
  color: #666666;
  font-size: 13px;
  padding: 1px 10px;
}

.boxed-group h3 {
  margin: 0 15px 15px 15px;
}

.boxed-group-inner {
  margin: 0 15px 15px 15px;
}

#upload-summary li{
  display : table-cell;
  padding : 15px;
  text-align: center;
  color: #666666;
}

#upload-summary li b{
  color: black;
}

#sidebar {
  width: 170px;
}

.footer {
  text-align  : center;
  border-top  : 1px solid #E5E5E5;
  margin-top  : 25px;
  padding-top : 25px;
}

.footer-links {
  margin: 10px 0;
}
.footer-links li {
  display: inline;
  padding: 0 2px;
}
.footer-links li:first-child {
  padding-left: 0;
}

#modelmatrix label {
  display: inline; 
}

.navbar-help {
  margin-left: 15px;
}

.navbar-help .active {
  background-color: #EEE;
}

.dash-sidebar {
}

.attr-label {
  margin-right: 20px;
  padding-right: 10px;
}

.editable-input {
  display: inline-block;
  vertical-align: top;
  white-space: normal;
  width: auto;
}

.editable-clear-x {
  background: url("../img/clear.png") no-repeat scroll center center rgba(0, 0, 0, 0);
  display: block;
  height: 13px;
  margin-top: -6px;
  opacity: 0.6;
  position: absolute;
  right: 6px;
  top: 50%;
  width: 13px;
  z-index: 100;
}

.editable-buttons {
  display: inline-block;
  margin-left: 7px;
  vertical-align: top;
}

.editable-click, a.editable-click, a.editable-click:hover {
  border-bottom: 1px dashed #0088CC;
  text-decoration: none;
}

.box-content {
  background-color: #FFFFFF;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  border-color: #D4CFE6;
  border-image: none;
  border-style: solid;
  border-width: 0 1px 1px;
  height: 200px;
  overflow: auto;

}

.box-content li {
  margin: 0px 0px 5px 15px;
}

.box-header {
  background-color: #F7F7F9;
  background-image: linear-gradient(#F7F7F9, #F7F7F9);
  background-repeat: repeat-x;
  border: 1px solid #D4CFE6;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  line-height: 1;
  min-height: 40px;
}

.box-title {
  color: #555555;
  float: left;
  font-size: 14px;
  line-height: 1.429;
  margin: 9px 10px;
}

.delimiter-label {
  font-size: 15px;
}

span.glyphicon {
  font-size: 1.2em;
}

.bs-callout {
  padding: 20px;
  margin: 20px 0;
  border: 1px solid #eee;
  border-left-width: 5px;
  border-radius: 3px;
}

.bs-callout h4 {
  margin-top: 0;
  margin-bottom: 5px;
}

.bs-callout p:last-child {
  margin-bottom: 0;
}

.bs-callout code {
  border-radius: 3px;
}

.bs-callout+.bs-callout {
  margin-top: -5px;
}

.bs-callout-default {
  border-left-color: #777;
}

.bs-callout-default h4 {
  color: #777;
}

.bs-callout-primary {
  border-left-color: #428bca;
}

.bs-callout-primary h4 {
  color: #428bca;
}

.bs-callout-success {
  border-left-color: #5cb85c;
}

.bs-callout-success h4 {
  color: #5cb85c;
}

.bs-callout-danger {
  border-left-color: #d9534f;
}

.bs-callout-danger h4 {
  color: #d9534f;
}

.bs-callout-warning {
  border-left-color: #f0ad4e;
}

.bs-callout-warning h4 {
  color: #f0ad4e;
}

.bs-callout-info {
  border-left-color: #5bc0de;
}

.bs-callout-info h4 {
  color: #5bc0de;
}

.group {
  background: yellow;
  width: 200px;
  height: 500px;
}
.group .subgroup {
  background: orange;
  width: 150px;
  height: 200px;
}
.fixed {
  position: fixed;
}

/* sidebar */
.bs-docs-sidebar {
  padding-left: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
}

/* all links */
.bs-docs-sidebar .nav>li>a {
  color: #999;
  border-left: 2px solid transparent;
  padding: 4px 20px;
  font-size: 13px;
  font-weight: 400;
}

/* nested links */
.bs-docs-sidebar .nav .nav>li>a {
  padding-top: 1px;
  padding-bottom: 1px;
  padding-left: 30px;
  font-size: 12px;
}

/* active & hover links */
.bs-docs-sidebar .nav>.active>a, 
.bs-docs-sidebar .nav>li>a:hover, 
.bs-docs-sidebar .nav>li>a:focus {
  color: #563d7c;         
  text-decoration: none;      
  background-color: transparent;  
  border-left-color: #563d7c; 
}
/* all active links */
.bs-docs-sidebar .nav>.active>a, 
.bs-docs-sidebar .nav>.active:hover>a,
.bs-docs-sidebar .nav>.active:focus>a {
  font-weight: 700;
}
/* nested active links */
.bs-docs-sidebar .nav .nav>.active>a, 
.bs-docs-sidebar .nav .nav>.active:hover>a,
.bs-docs-sidebar .nav .nav>.active:focus>a {
  font-weight: 500;
}

/* hide inactive nested list */
.bs-docs-sidebar .nav ul.nav {
  /*display: none;       */
}

/* show active nested list */
.bs-docs-sidebar .nav>.active>ul.nav {
  display: block;       
}

.bs-docs-section {
  margin-bottom:60px;
}

.bs-docs-example {
  margin-top : 20px;
  margin-bottom : 20px;
}

#help-container .page-header {
  padding-top:75px;
}

.help-content .jumbotron {
  margin-top: 50px;
}

#neighbor-tree {
  margin-bottom : 50px;
}

.phylotree-header {
  padding-left: 15px; 
}

.export-btn-group {
  margin-left: 5px;
}

.export-save-row {
  margin-top: 5px;
}

#chart-image {
  display:none;
}

#chart-canvas {
  display:none;
}

.loader {
  margin: 0 0 2em;
  height: 100px;
  width: 100%;
  text-align: center;
  padding: 1em;
  margin: 0 auto 1em;
  display: inline-block;
  vertical-align: top;
  flex-align: center;
  flex-pack: center;
}

.loader svg path,
.loader svg rect {
  fill: #FF6700;
}

.form-row {
  margin: 15px 0px;
}

.phylo-nav {
  padding-top:5px;
  padding-bottom: 15px;
}

.phylo-nav .glyphicon {
  font-size: 1em;
}

.panel-datamonkey {
  margin-left: 15px;
  margin-right: 15px;
  margin-bottom: 30px;
}

.panel-datamonkey h3 {
 font-family: "Droid Serif", Georgia; 
 display : inline;
 font-size: 1em;
}

.panel-datamonkey .panel-heading {
  background-color: #F5F5F5;
  border-color: #dddddd;
  font-size: 3em;
}

.panel-datamonkey .panel-title {
  padding : 10px;
}

.panel-datamonkey .panel-body {
 font-family: "Helvetica Neue"; 
 /*font-size: 12em;*/
}

/* all links */
.panel-datamonkey a {
  color: #444;
  font-weight: 400;
}

/* active & hover links */
.panel-datamonkey a:hover, 
.panel-datamonkey a:focus {
  color: #563d7c;         
  text-decoration: none;      
  background-color: transparent;  
  border-left-color: #563d7c; 
}

/* RELAX */
#relax-highlighter-btn-group {
  float: right;
}

#test-branch-highlighter {
  color: blue;
}

#reference-branch-highlighter {
  color: red;
}

/* Safari/Chrome modal fix */
.modal-dialog {
  position: relative;
}


/* Job Page */
.status-healthy {
  fill: green;
}

.status-troubled {
  fill: red;
}

.job-status circle {
  fill-opacity:.5;
}

.job-status .queueing {
  fill:#B94A48;
  border-color:#EBCCD1;
}

.job-status .queue {
  fill:#B94A48;
  border-color:#EBCCD1;
}


.job-status .running {
  fill:#C09853;
  border-color:#C09853;
}

.job-status .completed {
  fill:#468847;
  border-color: #D6E9C6;
}

.job-status {
  margin: 10px;
  display : inline;
}

#job-pre {
  background-color: #FFF;
  height: 370px;
  overflow:scroll;
}

/* FLEA */
.flea-form {
  margin-top    : 50px;
  margin-bottom : 50px;
}

.flea-spinner {
  text-align : center;
}

#flea-progress {

  margin-top:25px;

}

.borderless tbody tr td, .borderless tbody tr th, .borderless thead tr th {
    border: none;
}

#job-queue-panel {
  max-height : 290px;
  overflow: scroll;
}

#job-stdout-copy-button {
  margin-left : 5px;
}

.panel-status {
  /*max-height : 145px;*/
  background-color: #FAFAF8;
  font-family : "Droid Serif",Georgia;
  font-size : 12px;
  padding : 0px;
}

.panel-status h6 {
  display : inline;
}

.panel-body {
  /*padding : 0px;*/
}

.panel-status li {
  padding : 3px; 
}

.job-concel {
  font-size : 25px;
}

