circle.node {
  cursor: pointer;
  stroke: #000;
  stroke-width: .5px;
}

rect.cluster {
    cursor: pointer;
    stroke: #000;
    stroke-width: 1px;
}


.bar rect {
  fill: #ccc;
  stroke: #000;
  shape-rendering: crispEdges;
}

.bar text {
  fill: #fff;
}

.axis path, .axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.link {
  stroke: #AAAAAA;
  stroke-width: 1.5px;
}

.line {
  fill: none;
  stroke: red;
  stroke-width: 1.5px;
  stroke-dasharray: 2,2;
}
