<%- include ../includes/header.ejs %>
<!--<a class="INFO" href="help/data.php">Preparing your data</a>&nbsp;-->
<!--Examples:-->
<!--<a class="INFO" href="data/Flu.fasta">Influenza A H5N1 hemagluttinin</a>&nbsp;-->
<!--<a class="INFO" href="data/pol.nex">HIV-1 pol (recombinant data)</a>-->
<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN">
<div class="container-fluid">
  <div class="row-fluid boxed-group">
    <h3>Upload a Sequence Alignment</h3>
    <div class="boxed-group-inner">
      <a class="pull-right" href="/help" target="_blank">I'm confused</a>
      <form class="form-horizontal upload-form" name="uploadform" enctype="multipart/form-data" action="/msa" method="post">
        <fieldset>
          <div class="upload-div">
            <label id="upload-file-label">Choose a sequence alignment<a href="/help#data-formats" target="_blank"><sup>?</sup></a></label> 
            <input type="file" name="files">
          </div>
          <div class="upload-div">
            <label id="datatype-content">Data Type<a href="/help#data-types" target="_blank"><sup>?</sup></a></label> 
            <select onchange="updateGenCodeOptions()" name="datatype">
              <option selected value="0">
                Codon
              </option>
              <option value="1">
                Nucleotide (DNA/RNA)
              </option>
              <option value="2">
                Protein
              </option>
            </select> 
          </div>
          <div class="upload-div">
            <label id="geneticcode-content">Genetic Code<a href="/help#genetic-code" target="_blank"><sup>?</sup></a></label>
            <select name="gencodeid">

              <option value="0">
                Universal code
              </option>

              <option value="1">
                Vertebrate mitochondrial DNA code
              </option>

              <option value="2">
                Yeast mitochondrial DNA code
              </option>

              <option value="3">
                Mold, Protozoan and Coelenterate mt;
                Mycloplasma/Spiroplasma
              </option>

              <option value="4">
                Invertebrate mitochondrial DNA code
              </option>

              <option value="5">
                Ciliate, Dasycladacean and Hexamita Nuclear code
              </option>

              <option value="6">
                Echinoderm mitochondrial DNA code
              </option>

              <option value="7">
                Euplotid Nuclear code
              </option>

              <option value="8">
                Alternative Yeast Nuclear code
              </option>

              <option value="9">
                Ascidian mitochondrial DNA code
              </option>

              <option value="10">
                Flatworm mitochondrial DNA code
              </option>

              <option value="11">
                Blepharisma Nuclear code
              </option>

            </select> 
          </div>

          <div class="upload-div">
            <button type="submit" class="btn">
              Upload
            </button>
          </div>
        </fieldset>
      </form>
    </div> <!--span-->
  </div> <!--row-->
</div>
<%- include ../includes/footer.ejs %>
