<%- include("../includes/header.ejs") %>

<div id="container" class="container">
  <%- include("header.ejs") %>
  <div id="upload-form"></div>
  <%- include("../includes/modal.ejs") %>
</div>
<%- include("../includes/footer.ejs") %>
<script>
  gard_form();
</script>
