<!--
<div class="nav nav-list span4i">
  <a href="/help" target="_blank"><span class="glyphicon glyphicon-info-sign"></span></a>
</div>
-->

<div class="row">  

  <form id="msa-form" class="form-horizontal upload-form col-12" name="uploadform" enctype="multipart/form-data" method="post" action=<%= post_to %>>

    <div id="seq-file-div" class="upload-div">
        <input id="seq-file" type="file" name="files">
        <div id="file-progress" class="progress progress-striped active hidden">
            <div class="progress-bar" role="progressbar" aria-valuenow="0" aria-valuemin="1" aria-valuemax="100">
              <span class="sr-only">0% Complete</span>
            </div>
        </div>  
    </div>

    <div class="upload-div">
      <label id="geneticcode-content">Genetic Code<a href="/help#genetic-code" target="_blank"><sup>?</sup></a></label>
      <select name="gencodeid">

        <option value="0">
          Universal code
        </option>

        <option value="1">
          Vertebrate mitochondrial DNA code
        </option>

        <option value="2">
          Yeast mitochondrial DNA code
        </option>

        <option value="3">
          Mold, Protozoan and Coelenterate mt;
          Mycloplasma/Spiroplasma
        </option>

        <option value="4">
          Invertebrate mitochondrial DNA code
        </option>

        <option value="5">
          Ciliate, Dasycladacean and Hexamita Nuclear code
        </option>

        <option value="6">
          Echinoderm mitochondrial DNA code
        </option>

        <option value="7">
          Euplotid Nuclear code
        </option>

        <option value="8">
          Alternative Yeast Nuclear code
        </option>

        <option value="9">
          Ascidian mitochondrial DNA code
        </option>

        <option value="10">
          Flatworm mitochondrial DNA code
        </option>

        <option value="11">
          Blepharisma Nuclear code
        </option>

      </select> 
    </div>

    <div class="upload-div">
      <label for="multiple-hits">Multiple Hits</label>
      <select name="multiple_hits" id="multiple-hits">
        <option value="None">None</option>
        <option value="Double">Double</option>
        <option value="Double+Triple">Double+Triple</option>
      </select>
    </div>

    <div class="upload-div">
      <label for="site-multihit">Site Multihit</label>
      <select name="site_multihit" id="site-multihit">
        <option value="Estimate">Estimate</option>
        <option value="Global">Global</option>
      </select>
    </div>

    <div class="upload-div">
      <label for="rates">Rates</label>
      <select name="rates" id="rates">
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
      </select>
    </div>

    <div class="upload-div">
      <label for="resample">Resample</label>
      <input type="number" id="resample" name="resample" min="0" placeholder="0">
    </div>

    <div class="upload-div">
      <label for="impute-states">Impute States</label>
      <select name="impute_states" id="impute-states">
        <option value="No">No</option>
        <option value="Yes">Yes</option>
      </select>
    </div>

    <div class="form-group <%if (typeof errors != "undefined" && typeof errors.mail != "undefined") { %>has-error<% } %>">
      <label id="datatype-content">Notify When Completed</label>
      <input name="mail" type="text" class="form-control" placeholder="Email Address">
    </div><!-- /form-group -->

    <button id="submit-button" type="submit" class="dm-continue-btn btn float-right">
      Run Analysis 
      <span class="fa fa-play"></span></button>
    </button>

  </form>
</div>

</div>

<script src="/assets/js/msa/form.js"></script>

