<h1 class="page-header"> Data Types </h1>
Sequence types accepted by various Datamonkey components. Available analyses are automatically determined by the server based on the contents of the alignment and user description from the upload page. 
<TABLE>
  <TR class = 'HeaderClassSM'>
    <TH>Analysis</TH><TH>Sequence type</TH><TH>Comments</TH>
  </TR>
  <TR class = 'TRReport1' style = 'text-align:left;'>
    <TD>
      Neighbor Joining tree reconstruction
    </TD>
    <TD>
      Nucleotide/Protein/Codon
    </TD>
    <TD> 
      TN93 distance is used for N and C data. Corrected p-distance is used for P data
    </TD>
  </TR>
  <TR class = 'TRReport2' style = 'text-align:left;'>
    <TD>
      Model selection
    </TD>
    <TD>
      Nucleotide/Protein/Codon
    </TD>
    <TD> 
      All 4x4 reversible 203 models are tried for N and C data. An <i>a priori</i> list of empirical models is tried for P data.
    </TD>
  </TR>
  <TR class = 'TRReport1' style = 'text-align:left;'>
    <TD>
      SLAC
    </TD>
    <TD>
      Codon
    </TD>
    <TD> 
    </TD>
  </TR>
  <TR class = 'TRReport2' style = 'text-align:left;'>
    <TD>
      FEL/IFEL
    </TD>
    <TD>
      Codon
    </TD>
    <TD> 
    </TD>
  </TR>
  <TR class = 'TRReport1' style = 'text-align:left;'>
    <TD>
      REL
    </TD>
    <TD>
      Codon
    </TD>
    <TD> 
    </TD>
  </TR>
  <TR class = 'TRReport2' style = 'text-align:left;'>
    <TD>
      PARRIS
    </TD>
    <TD>
      Codon
    </TD>
    <TD> 
    </TD>
  </TR>
  <TR class = 'TRReport1' style = 'text-align:left;'>
    <TD>
      GABranch
    </TD>
    <TD>
      Codon
    </TD>
    <TD> 
      Recombinant data are not allowed.
    </TD>
  </TR>
  <TR class = 'TRReport2' style = 'text-align:left;'>
    <TD>
      Spidermonkey/BGM
    </TD>
    <TD>
      Nucleotide/Protein/Codon
    </TD>
    <TD> 
      Recombinant data are not allowed.
      All substitutions are used for N and P data.
      Only non-synonymous substitutions are used for C data.
    </TD>
  </TR>
  <TR class = 'TRReport1' style = 'text-align:left;'>
    <TD>
      GARD and SBP
    </TD>
    <TD>
      Nucleotide/Protein
    </TD>
    <TD> 
    </TD>
  </TR>
  <TR class = 'TRReport2' style = 'text-align:left;'>
    <TD>
      Ancestral State Reconstruction
    </TD>
    <TD>
      Nucleotide/Protein/Codon
    </TD>
    <TD> 
      Requires a rooted tree. Recombinant data are handled.
    </TD>
  </TR>
  <TR class = 'TRReport1' style = 'text-align:left;'>
    <TD>
      DEPS
    </TD>
    <TD>
      Protein
    </TD>
    <TD> 
      Requires a rooted tree.
    </TD>
  </TR>
  <TR class = 'TRReport2' style = 'text-align:left;'>
    <TD>
      Codon Model Selection
    </TD>
    <TD>
      Codon
    </TD>
    <TD> 
      
    </TD>
  </TR>
  <TR class = 'TRReport1' style = 'text-align:left;'>
    <TD>
      Evolutionary Fingerprinting
    </TD>
    <TD>
      Codon
    </TD>
    <TD> 
    </TD>
  </TR>
</TABLE>
