<h1 class="page-header"> Genetic Codes </h1>
<DIV class = "RepClassSM"> 
<br>
<U><b>Universal Genetic Code.</b></U>
<p>
<TABLE WIDTH="442" BORDER="1" CELLSPACING="2" CELLPADDING="0"
      HEIGHT="421">
        <TR>
          <TD WIDTH="19%" HEIGHT="17"><B>&nbsp;Amino acid</B></TD> 
          <TD WIDTH="81%">&nbsp;<B>Codons</B></TD>
        </TR>
        <TR>
          <TD WIDTH="19%" HEIGHT="17">&nbsp;Phe</TD> 
          <TD WIDTH="81%">&nbsp;TTC,TTT</TD> 
        </TR>
        <TR>
          <TD WIDTH="19%" HEIGHT="17">&nbsp;Leu</TD> 
          <TD WIDTH="81%">&nbsp;CTA,CTC,CTG,CTT,TTA,TTG</TD> 
        </TR>
        <TR>
          <TD WIDTH="19%" HEIGHT="17">&nbsp;Ile</TD> 
          <TD WIDTH="81%">&nbsp;ATA,ATC,ATT</TD> 
        </TR>
        <TR>
          <TD WIDTH="19%" HEIGHT="17">&nbsp;Met</TD> 
          <TD WIDTH="81%">&nbsp;ATG&nbsp;</TD> 
        </TR>
        <TR>
          <TD WIDTH="19%" HEIGHT="17">&nbsp;Val</TD> 
          <TD WIDTH="81%">&nbsp;GTA,GTC,GTG,GTT</TD> 
        </TR>
        <TR>
          <TD WIDTH="19%" HEIGHT="17">&nbsp;Ser</TD> 
          <TD WIDTH="81%">&nbsp;AGC,AGT,TCA,TCC,TCG,TCT</TD> 
        </TR>
        <TR>
          <TD WIDTH="19%" HEIGHT="17">&nbsp;Pro</TD> 
          <TD WIDTH="81%">&nbsp;CCA,CCC,CCG,CCT</TD> 
        </TR>
        <TR>
          <TD WIDTH="19%" HEIGHT="17">&nbsp;Thr</TD> 
          <TD WIDTH="81%">&nbsp;ACA,ACC,ACG,ACT</TD> 
        </TR>
        <TR>
          <TD WIDTH="19%" HEIGHT="17">&nbsp;Ala</TD> 
          <TD WIDTH="81%">&nbsp;GCA,GCC,GCG,GCT</TD> 
        </TR>
        <TR>
          <TD WIDTH="19%" HEIGHT="17">&nbsp;Tyr</TD> 
          <TD WIDTH="81%">&nbsp;TAC,TAT</TD> 
        </TR>
        <TR>
          <TD WIDTH="19%" HEIGHT="17">&nbsp;His</TD> 
          <TD WIDTH="81%">&nbsp;CAC,CAT</TD> 
        </TR>
        <TR>
          <TD WIDTH="19%" HEIGHT="17">&nbsp;Gln</TD> 
          <TD WIDTH="81%">&nbsp;CAA,CAG</TD> 
        </TR>
        <TR>
          <TD WIDTH="19%" HEIGHT="17">&nbsp;Asn</TD> 
          <TD WIDTH="81%">&nbsp;AAC,AAT</TD> 
        </TR>
        <TR>
          <TD WIDTH="19%" HEIGHT="17">&nbsp;Lys</TD> 
          <TD WIDTH="81%">&nbsp;AAA,AAG</TD> 
        </TR>
        <TR>
          <TD WIDTH="19%" HEIGHT="17">&nbsp;Asp</TD> 
          <TD WIDTH="81%">&nbsp;GAC,GAT</TD> 
        </TR>
        <TR>
          <TD WIDTH="19%" HEIGHT="17">&nbsp;Glu</TD> 
          <TD WIDTH="81%">&nbsp;GAA,GAG</TD> 
        </TR>
        <TR>
          <TD WIDTH="19%" HEIGHT="17">&nbsp;Cys&nbsp;</TD> 
          <TD WIDTH="81%">&nbsp;TGC, TGT</TD> 
        </TR>
        <TR>
          <TD WIDTH="19%" HEIGHT="16">&nbsp;Trp</TD> 
          <TD WIDTH="81%">&nbsp;TGG</TD> 
        </TR>
        <TR>
          <TD WIDTH="19%" HEIGHT="17">&nbsp;Arg</TD> 
          <TD WIDTH="81%">&nbsp;AGA,AGG,CGA,CGC,CGG,CGT</TD> 
        </TR>
        <TR>
          <TD WIDTH="19%" HEIGHT="16">&nbsp;Gly</TD> 
          <TD WIDTH="81%">&nbsp;GGA,GGC,GGG,GGT</TD> 
        </TR>
        <TR>
          <TD WIDTH="19%" HEIGHT="17">&nbsp;Stop</TD>
          <TD WIDTH="81%">&nbsp;TAA,TAG,TGA</TD> 
        </TR>
      </TABLE></P>

      <P>Other genetic codes are defined
      in terms of differences with the Universal code.</P>

      <P><b><U>Vertebrate
      mtDNA.</U></b></P>

      <P><TABLE WIDTH="450" BORDER="1" CELLSPACING="2" CELLPADDING="0"
      HEIGHT="99">
        <TR>
          <TD WIDTH="15%" HEIGHT="17">&nbsp;<B>Codon</B></TD> 
          <TD WIDTH="85%" HEIGHT="17"><B>&nbsp;New translation</B></TD> 
        </TR>
        <TR>
          <TD WIDTH="15%" HEIGHT="17">&nbsp;AGA</TD> 
          <TD WIDTH="85%" HEIGHT="17">Stop</TD> 
        </TR>
        <TR>
          <TD WIDTH="15%" HEIGHT="16">&nbsp;AGG</TD> 
          <TD WIDTH="85%" HEIGHT="16">&nbsp;Stop</TD> 
        </TR>
        <TR>
          <TD WIDTH="15%" HEIGHT="17">&nbsp;ATA</TD> 
          <TD WIDTH="85%" HEIGHT="17">&nbsp;Met</TD> 
        </TR>
        <TR>
          <TD WIDTH="15%" HEIGHT="17">&nbsp;TGA</TD> 
          <TD WIDTH="85%" HEIGHT="17">Trp</TD> 
        </TR>
      </TABLE></P>

      <P><b><U>Yeast
      mtDNA.</U></b></P>

      <P><TABLE WIDTH="450" BORDER="1" CELLSPACING="2" CELLPADDING="0"
      HEIGHT="138">
        <TR>
          <TD WIDTH="15%" HEIGHT="17">&nbsp;<B>Codon</B></TD> 
          <TD WIDTH="85%" HEIGHT="17"><B>&nbsp;New translation</B></TD> 
        </TR>
        <TR>
          <TD WIDTH="15%" HEIGHT="17">&nbsp;ATA</TD> 
          <TD WIDTH="85%" HEIGHT="17">&nbsp;Met</TD> 
        </TR>
        <TR>
          <TD WIDTH="15%" HEIGHT="17">&nbsp;CTA</TD> 
          <TD WIDTH="85%" HEIGHT="17">&nbsp;Thr</TD> 
        </TR>
        <TR>
          <TD WIDTH="15%" HEIGHT="17">&nbsp;CTC</TD> 
          <TD WIDTH="85%" HEIGHT="17">&nbsp;Thr</TD> 
        </TR>
        <TR>
          <TD WIDTH="15%" HEIGHT="17">&nbsp;CTG</TD> 
          <TD WIDTH="85%" HEIGHT="17">&nbsp;Thr</TD> 
        </TR>
        <TR>
          <TD HEIGHT="17">&nbsp;CTT</TD> 
          <TD HEIGHT="17">&nbsp;Thr</TD> 
        </TR>
        <TR>
          <TD HEIGHT="17">&nbsp;TGA</TD> 
          <TD HEIGHT="17">&nbsp;Trp</TD> 
        </TR>
      </TABLE></P>

      <P><b><U>Mold,Protozoan
      and Coelenterate mtDNA.</U></b></P>

      <P><TABLE WIDTH="450" BORDER="1" CELLSPACING="2" CELLPADDING="0"
      HEIGHT="46">
        <TR>
          <TD WIDTH="15%" HEIGHT="18">&nbsp;<B>Codon</B></TD> 
          <TD WIDTH="85%"><B>&nbsp;New translation</B></TD> 
        </TR>
        <TR>
          <TD HEIGHT="19">&nbsp;TGA</TD> 
          <TD>&nbsp;Trp</TD> 
        </TR>
      </TABLE></P>

      <P><b><U>Invertebrate
      mtDNA.</U></b></P>

      <P><TABLE WIDTH="450" BORDER="1" CELLSPACING="2" CELLPADDING="0"
      HEIGHT="99">
        <TR>
          <TD WIDTH="15%" HEIGHT="17">&nbsp;<B>Codon</B></TD> 
          <TD WIDTH="85%" HEIGHT="17"><B>&nbsp;New translation</B></TD> 
        </TR>
        <TR>
          <TD WIDTH="15%" HEIGHT="17">&nbsp;AGA</TD> 
          <TD WIDTH="85%" HEIGHT="17">&nbsp;Ser</TD> 
        </TR>
        <TR>
          <TD WIDTH="15%" HEIGHT="16">&nbsp;AGG</TD> 
          <TD WIDTH="85%" HEIGHT="16">&nbsp;Ser</TD> 
        </TR>
        <TR>
          <TD WIDTH="15%" HEIGHT="17">&nbsp;ATA</TD> 
          <TD WIDTH="85%" HEIGHT="17">&nbsp;Met</TD> 
        </TR>
        <TR>
          <TD WIDTH="15%" HEIGHT="17">&nbsp;TGA</TD> 
          <TD WIDTH="85%" HEIGHT="17">&nbsp;Trp</TD> 
        </TR>
      </TABLE></P>

      <P><b><U>Ciliate
      Nuclear Code.</U></b></P>

      <P><TABLE WIDTH="443" BORDER="1" CELLSPACING="2" CELLPADDING="0"
      HEIGHT="60">
        <TR>
          <TD WIDTH="15%" HEIGHT="16">&nbsp;<B>Codon</B></TD> 
          <TD WIDTH="85%"><B>&nbsp;New translation</B></TD> 
        </TR>
        <TR>
          <TD WIDTH="15%" HEIGHT="17">TAA</TD> 
          <TD WIDTH="85%">Gln</TD> 
        </TR>
        <TR>
          <TD WIDTH="15%" HEIGHT="16">TAG</TD> 
          <TD WIDTH="85%">Gln</TD> 
        </TR>
      </TABLE></P>

      <P><b><U>Echinoderm
      mtDNA.</U></b></P>

      <P><TABLE WIDTH="450" BORDER="1" CELLSPACING="2" CELLPADDING="0"
      HEIGHT="99">
        <TR>
          <TD WIDTH="15%" HEIGHT="17">&nbsp;<B>Codon</B></TD> 
          <TD WIDTH="85%" HEIGHT="17"><B>&nbsp;New translation</B></TD> 
        </TR>
        <TR>
          <TD WIDTH="15%" HEIGHT="17">&nbsp;AAA</TD> 
          <TD WIDTH="85%" HEIGHT="17">&nbsp;Asn</TD> 
        </TR>
        <TR>
          <TD WIDTH="15%" HEIGHT="16">&nbsp;AGA</TD> 
          <TD WIDTH="85%" HEIGHT="16">&nbsp;Ser</TD> 
        </TR>
        <TR>
          <TD WIDTH="15%" HEIGHT="17">&nbsp;AGG</TD> 
          <TD WIDTH="85%" HEIGHT="17">&nbsp;Ser</TD> 
        </TR>
        <TR>
          <TD WIDTH="15%" HEIGHT="17">&nbsp;TGA</TD> 
          <TD WIDTH="85%" HEIGHT="17">&nbsp;Trp</TD> 
        </TR>
      </TABLE></P>

      <P><b><U>Euplotid
      mtDNA.</U></b></P>

      <P><TABLE WIDTH="450" BORDER="1" CELLSPACING="2" CELLPADDING="0"
      HEIGHT="46">
        <TR>
          <TD WIDTH="15%" HEIGHT="18">&nbsp;<B>Codon</B></TD> 
          <TD WIDTH="85%"><B>&nbsp;New translation</B></TD> 
        </TR>
        <TR>
          <TD HEIGHT="19">TGA</TD> 
          <TD>Cys</TD> 
        </TR>
      </TABLE></P>

      <P><b><U>Alternative
      Yeast Nuclear.</U></b></P>

      <P><TABLE WIDTH="450" BORDER="1" CELLSPACING="2" CELLPADDING="0"
      HEIGHT="46">
        <TR>
          <TD WIDTH="15%" HEIGHT="18">&nbsp;<B>Codon</B></TD> 
          <TD WIDTH="85%"><B>&nbsp;New translation</B></TD> 
        </TR>
        <TR>
          <TD HEIGHT="19">CTG</TD> 
          <TD>Ser</TD> 
        </TR>
      </TABLE></P>

      <P><b><U>Ascidian
      mtDNA.</U></b></P>

      <P><TABLE WIDTH="450" BORDER="1" CELLSPACING="2" CELLPADDING="0"
      HEIGHT="99">
        <TR>
          <TD WIDTH="15%" HEIGHT="17">&nbsp;<B>Codon</B></TD> 
          <TD WIDTH="85%" HEIGHT="17"><B>&nbsp;New translation</B></TD> 
        </TR>
        <TR>
          <TD WIDTH="15%" HEIGHT="17">&nbsp;AGA</TD> 
          <TD WIDTH="85%" HEIGHT="17">&nbsp;Gly</TD> 
        </TR>
        <TR>
          <TD WIDTH="15%" HEIGHT="16">&nbsp;AGG</TD> 
          <TD WIDTH="85%" HEIGHT="16">&nbsp;Gly</TD> 
        </TR>
        <TR>
          <TD WIDTH="15%" HEIGHT="17">&nbsp;AGG</TD> 
          <TD WIDTH="85%" HEIGHT="17">&nbsp;Met</TD> 
        </TR>
        <TR>
          <TD WIDTH="15%" HEIGHT="17">&nbsp;TGA</TD> 
          <TD WIDTH="85%" HEIGHT="17">&nbsp;Trp</TD> 
        </TR>
      </TABLE></P>

      <P><b><U>Flatworm
      mtDNA.</U></b></P>

      <P><TABLE WIDTH="446" BORDER="1" CELLSPACING="2" CELLPADDING="0"
      HEIGHT="121">
        <TR>
          <TD WIDTH="15%" HEIGHT="17">&nbsp;<B>Codon</B></TD> 
          <TD WIDTH="85%"><B>&nbsp;New translation</B></TD> 
        </TR>
        <TR>
          <TD WIDTH="15%" HEIGHT="17">AAA</TD> 
          <TD WIDTH="85%">Asn</TD> 
        </TR>
        <TR>
          <TD WIDTH="15%" HEIGHT="17">AGA</TD> 
          <TD WIDTH="85%">Ser</TD> 
        </TR>
        <TR>
          <TD WIDTH="15%" HEIGHT="18">AGG</TD> 
          <TD WIDTH="85%">Ser</TD> 
        </TR>
        <TR>
          <TD WIDTH="15%" HEIGHT="17">TAA</TD> 
          <TD WIDTH="85%">Tyr</TD> 
        </TR>
        <TR>
          <TD HEIGHT="18">TGA</TD> 
          <TD>Trp</TD> 
        </TR>
      </TABLE></P>

      <P><b><U>Blepharisma
      Nuclear.</U></b></P>

      <P><TABLE WIDTH="450" BORDER="1" CELLSPACING="2" CELLPADDING="0"
      HEIGHT="46">
        <TR>
          <TD WIDTH="15%" HEIGHT="18">&nbsp;<B>Codon</B></TD> 
          <TD WIDTH="85%"><B>&nbsp;New translation</B></TD> 
        </TR>
        <TR>
          <TD HEIGHT="19">TAG</TD> 
          <TD>Gln</TD> 
        </TR>
      </TABLE>
</div>
