<div id='content'></div>

<img id="hyphy-chart-image" />
<canvas id="hyphy-chart-canvas"></canvas>

<script>

  var fasta
  d3.json(window.location.href+"/fasta", (err, data) => {
    fasta = data.fasta

    $(document).ready( function () {
      hyphyVision.fubar($("#job-report").data('jobid') + '/results', "content", fasta, true, true)
    });

  });

</script>
