<div class="tabbable">

  <ul class="nav nav-tabs">
    <li class="active"><a href="#trace-results" data-toggle="tab">Cluster Results</a></li>
    <%if (hivtrace.lanl_compare == true) { %>
    <li class=""><a href="#lanl-trace-results" data-toggle="tab">Comparison Results</a></li>
    <% } %>
  </ul>

  <div class="tab-content">
    <div id="trace-results" class="tab-pane active">
      <div class="row">
        <div class="btn-menu btn-group col-md-9">
          <button id="expand-all-clusters" type="button" class="btn btn-default">Expand All</button>
          <button id="collapse-all-clusters" type="button" class="btn btn-default">Collapse All</button>
        </div>

     </div>

    <div class = "row">
        <div id='network_tag' class='col-lg-9' data-url=<%= hivtrace.trace_results %>>
            <div class="my_progress">
                  <div class="progress-bar progress-bar-striped active"  role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%">
                    Loading the network...
                  </div>
            </div>
        </div>
        <div class='col-lg-3'>
            <div id='histogram_tag'>
                <p id='histogram_label' class="histogram-label small"></p><br>
             </div>
             <div id='csvexport' class="pull-left"></div>
        </div>
     </div>
      <div class="row">
        <div class='col-lg-9'>
          <p id='network_status_string'></p>
        </div>
      </div>
    </div>

    <%if (hivtrace.lanl_compare == true) { %>
    <div id="lanl-trace-results" class="tab-pane">
        <div class="row">
          <div class="btn-menu btn-group col-md-9">
            <button id="lanl-expand-all-clusters" type="button" class="btn btn-default">Expand All</button>
            <button id="lanl-collapse-all-clusters" type="button" class="btn btn-default">Collapse All</button>
          </div>
        </div>

       <div class="row">
        <div class="col-lg-6">
          <div class="alert" id='lanl_main_warning' style='display:none;'>
          </div>
        </div>
     </div>
     <div class = "row">
         <div id='lanl_network_tag' class='col-lg-9' data-url=<%= hivtrace.lanl_trace_results %>>
             <div class="my_progress">
                  <div class="progress-bar progress-bar-striped active"  role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%">
                    Loading the network...
                  </div>
            </div>
         </div>
        <div class='col-lg-3'>
            <div id = 'lanl_histogram_tag'>
                <p id='lanl_histogram_label' class="histogram-label small"></p><br>
             </div>
            <div id='csvexport-lanl'>
            </div>
        </div>
     </div>
      <div class="row">
        <div class='col-lg-9'>
          <p id='network_status_string' class='text-info'></p>
        </div>
      </div>
    </div>
    <% } %>
  </div>
</div>
<div id=""></div>
