<div class="datamonkey-sm-header">
  <h1>MULTI-HIT</h1>
  <p>Examining better fit by permitting multiple instantaneous substitutions</p>
  <div class="row alert alert-warning">This method is currently undergoing peer-review and is considered in beta.</div>
</div>
