<%- include("../includes/header.ejs") %>

<div class="seq-viewer"></div>

<%- include("../includes/footer.ejs") %>
<script src="/assets/js/datamonkey/alignment-viewer.js"></script>
<script> 
al = new alignmentViewer();
</script>
