<div id='content'></div>

<img id="hyphy-chart-image" />
<canvas id="hyphy-chart-canvas"></canvas>

<script>
  var fasta_url = window.location.href+"/fasta";
  hyphyVision.busted($("#job-report").data('jobid') + '/results', "content", fasta_url, true, true);
</script>
