<!--
<link rel="stylesheet" href="/assets/css/busted/font-awesome-4.2.0/css/font-awesome.css">
<link rel="stylesheet" href="/assets/lib/dcjs/dc.css">
<link rel="stylesheet" href="/assets/lib/phylotree/phylotree.css">
<link rel="stylesheet" href="/assets/lib/hyphy-vision/hyphy-vision.css">
-->

<div id='content' class='container-fluid'>
<ul class="nav nav-tabs">
  <li class="active"><a href="#summary_tab" data-toggle="tab">Summary</a></li>
  <li class=""><a href="#tree_tab" data-toggle="tab">Tree</a></li>
</ul>
<div id='busted-content'></div>
</div>

<img id="hyphy-chart-image" />
<canvas id="hyphy-chart-canvas"></canvas>
<script>
$( document ).ready( function () {
  console.log($("#job-report").data('jobid') + '/results');
  render_busted($("#job-report").data('jobid') + '/results', "busted-content")
});
</script>
