<div id='content'></div>

<img id="hyphy-chart-image" />
<canvas id="hyphy-chart-canvas"></canvas>

<script>

  d3.json(window.location.href+"/fasta", (err, data) => {
    var fasta = data.fasta

    $(document).ready( function () {
      hyphyVision.busted($("#job-report").data('jobid') + '/results', "content", fasta, true, true)
    });

  });

</script>
