<%- include ../includes/header.ejs %>

<div id="container" class="container">
  <%- include header.ejs %>
  <%- include ../partials/msa/form.ejs %>

<div aria-labelledby="errorModalLabel" role="dialog" id="errorModal" class="modal ng-scope">

  <div class="modal-dialog"><div class="modal-content">

    <div class="modal-header dialog-header-error">
      <button data-dismiss="modal" class="close" type="button">×</button>
      <h4 class="modal-title text-danger"><span class="glyphicon glyphicon-warning-sign"></span> Error</h4>
      </div>
      <div id="modal-error-msg" class="modal-body text-danger">This is my error message</div>
      <div class="modal-footer">
        <button data-dismiss="modal" class="btn btn-primary" type="button">Close</button>
      </div>
    </div>

  </div>

</div>

<%- include ../includes/footer.ejs %>
