<!--
  <link href="//netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.css" rel="stylesheet">
  <link href="/assets/lib/phylotree/phylotree.css" rel="stylesheet">
  <link href="/assets/lib/hyphy-vision/hyphy-vision.css" rel="stylesheet">
-->

    <div class="loader" title="0">
      <svg version="1.1" id="loader-1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
       width="40px" height="40px" viewBox="0 0 40 40" enable-background="new 0 0 40 40" xml:space="preserve">
      <path opacity="0.2" fill="#000" d="M20.201,5.169c-8.254,0-14.946,6.692-14.946,14.946c0,8.255,6.692,14.946,14.946,14.946
        s14.946-6.691,14.946-14.946C35.146,11.861,28.455,5.169,20.201,5.169z M20.201,31.749c-6.425,0-11.634-5.208-11.634-11.634
        c0-6.425,5.209-11.634,11.634-11.634c6.425,0,11.633,5.209,11.633,11.634C31.834,26.541,26.626,31.749,20.201,31.749z"/>
      <path fill="#000" d="M26.013,10.047l1.654-2.866c-2.198-1.272-4.743-2.012-7.466-2.012h0v3.312h0
        C22.32,8.481,24.301,9.057,26.013,10.047z">
        <animateTransform attributeType="xml"
          attributeName="transform"
          type="rotate"
          from="0 20 20"
          to="360 20 20"
          dur="0.5s"
          repeatCount="indefinite"/>
        </path>
      </svg>
    </div>

    <div id = 'datamonkey-relax-error' class="alert alert-danger alert-dismissible" role="alert" style = "display:none;">
      <button type="button" class="close" id = 'datamonkey-relax-error-hide'><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
      <strong>Error!</strong> <span id = 'datamonkey-relax-error-text'></span>
    </div>

  <div class='tabbable content hidden'>
    <ul class="nav nav-tabs">
      <li class="active"><a href="#datamonkey-relax-summary-tab" data-toggle="tab">Summary</a></li>
      <li class=""><a href="#tree-tab" data-toggle="tab">Tree</a></li>
    </ul>


    <div class="tab-content">

         <div class="tab-pane active" id="datamonkey-relax-summary-tab">
             <div id="hyphy-relax-summary" class="row" style='margin-top: 5px'></div>
             <div id="hyphy-model-fits" class="row"></div>
             <div id="hyphy-omega-plots" class="row"></div>
         </div>

        <div class='tab-pane' id="tree-tab"></div>

    </div>
  </div>

<img id="hyphy-chart-image" />
<canvas id="hyphy-chart-canvas"></canvas>

<script>

    $(document).ready(function() {

        var id = $("#job-report").data("jobid")
        d3.json(id + "/results", function(json) {
            render_summary(json);
            render_omega_plot(json);
            render_model_fits(json);
            render_tree(json);
            $(".loader").addClass('hidden');
            $(".content").removeClass('hidden');
       });
    });

</script>


