<%- include("../includes/header.ejs") %>
<div id="container" class="container">
  <%- include("header.ejs") %>
  <div id="upload-form"></div>
  <%- include("../includes/modal.ejs") %>
</div>
<script>
  fade_form();
</script>
<%- include("../includes/footer.ejs") %>
