<div class="datamonkey-sm-header">
  <div class="fade_pre_publication_note">PRE-PUBLICATION RELEASE: The FADE tool is still under development.</div>
  <h1>FADE</h1>
  <p>A FUBAR* Approach to Directional Selection (*Fast, Unconstrained Bayesian AppRoximation for Inferring Selection)</p>
</div>
