<div id='content'></div>

<img id="hyphy-chart-image" />
<canvas id="hyphy-chart-canvas"></canvas>

<script>

  var fasta_ready = false;

  /* TODO: alignment.js doesn't handle amino acid alignments yet (this is disabling the "view msa" option for FADE for now)
  d3.json(window.location.href+"/fasta", (err, data) => {
    var fasta = data.fasta
    fasta_ready = true;

    $(document).ready( function () {
      hyphyVision.fade($("#job-report").data('jobid') + '/results', "content", fasta, true, true)
    });

  });
  */

  if (fasta_ready == false) {
    $(document).ready( function () {
      hyphyVision.fade($("#job-report").data('jobid') + '/results', "content", null, true, true)
    });
  }

</script>
