      <footer class="footer">
        <div class="container">
          <p>
            Datamonkey.org is implemented on the <b>Applecross/San Diego Alliance cluster</b> which was funded jointly by the NIH (<a href = 'http://projectreporter.nih.gov/project_info_description.cfm?aid=7937611&icde=24104867'>GM093939</a>, <a href = 'http://projectreporter.nih.gov/project_info_description.cfm?aid=8466034&icde=24104867'>AI047745</a>, and <a href = 'http://projectreporter.nih.gov/project_info_description.cfm?aid=8703980&icde=24104867'>GM110749</a>),  <a href="http://nsf.gov/awardsearch/showAward.do?AwardNumber=0714991" target="_blank">NSF award 0714991</a> and a Medical Research Council (UK) grant to the University of Edinburgh
            (to <a href="http://homepages.ed.ac.uk/eang09/LeighBrownGroup.html">Prof. Andy Leigh Brown</a>). 
          </p>
          <p>
            Further support provided by the UCSD Center for AIDS Research <a href="http://cfar.ucsd.edu/core-facilities/bit">BIT Core</a>.
          </p>
          <p>
            <ul class="footer-links">
              <li><a href="/uploads">Data Privacy Policy</a></li>
              <li class="muted">·</li>
              <li><a href="/copyright_notice">Copyright Notice</a></li>
            </ul>
          </p>
        </div>
      </footer>
    </div><!--/.fluid-container-->
  </body>
</html>
