      <hr>
      <footer class="footer">
        <div class="container">
          <p>
            Datamonkey.org is implemented on the <b>Applecross/San Diego Alliance cluster</b> which was funded jointly by the <a href="http://www.ucop.edu/srphome/uarp/" target="_blank">UCSD CFAR</a> grant, <a href="http://nsf.gov/awardsearch/showAward.do?AwardNumber=0714991" target="_blank">NSF award 0714991</a> and a Medical Research Council (UK) grant to the University of Edinburgh
            (to <a href="http://homepages.ed.ac.uk/eang09/LeighBrownGroup.html">Prof. Andy Leigh Brown</a>). 
          </p>
          <p>
            Further support provided by the UCSD Center for AIDS Research <a href="http://cfar.ucsd.edu/core-facilities/bit">BIT Core</a>.
          </p>
          <p>
            <ul class="footer-links">
              <li><a href="help/uploads.php" class="INFO">Data Privacy Policy</a></li>
              <li class="muted">·</li>
              <li><a href="help/copyright_notice.php" class="INFO">Copyright Notice</a></li>
            </ul>
          </p>
        </div>
      </footer>
    </div><!--/.fluid-container-->

    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js"></script>
    <script src="/assets/js/bootstrap.js"></script>
    <script src="/assets/js/datamonkey.js"></script>
    <script src="/assets/js/analysis/create.js"></script>
  </body>
</html>
