      <footer class="footer">
        <div class="container">
          <p>Datamonkey is funded jointly by <a href="https://projectreporter.nih.gov/project_info_details.cfm?aid=9102131" target="_blank">MIDAS</a> and <a href="https://projectreporter.nih.gov/project_info_description.cfm?aid=8886417" target="_blank">NIH award R01 GM093939</a></p>
        </div>
      </footer>
    </div><!--/.fluid-container-->
  </body>
</html>

