      <footer class="footer">
          <p>Datamonkey is funded jointly by <a href="https://projectreporter.nih.gov/project_info_details.cfm?aid=9102131" target="_blank">MIDAS</a> and <a href="https://projectreporter.nih.gov/project_info_description.cfm?aid=8886417" target="_blank">NIH award R01 GM093939</a></p>
          <div class="dm-twitter-feed">
            <img src="/assets/img/twitter-diamond.svg" id="twitter" class="dm-twitter-diamond" />
            <center>
              <a class="twitter-timeline" href="https://twitter.com/hyphy_software" data-height="500" width="300px">HyPhy News</a> 
            </center>
          </div>
      </footer>
  
<!--      <a href="#twitter"><img class="fix hidden-xs" src="/assets/img/dm_whole.png" /></a>-->

      <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
    
    </div><!--container-fluid-->  
  </body>
</html>