           <footer class="footer">
          <p>Datamonkey infrastructure and development has received support from the NIH (<a href="https://projectreporter.nih.gov/project_info_details.cfm?aid=10729148" target="_blank">R01GM151683</a>, <a href="https://projectreporter.nih.gov/project_info_details.cfm?aid=9102131" target="_blank">U01GM110749</a>, <a href="https://reporter.nih.gov/project-details/10914501" target="_blank">U24AI183870</a>, <a href="https://reporter.nih.gov/project-details/10914501" target="_blank">R01GM093939</a>), and the NSF (<a href="https://www.nsf.gov/awardsearch/showAward?AWD_ID=2027196" target="_blank">2027196</a>, <a href="https://www.nsf.gov/awardsearch/showAward?AWD_ID=2419522" target="_blank">2419522</a>).
          </p>
      </footer>
  
      <script type="text/javascript">
        $('.dropdown-toggle').dropdown();
      </script>
    
    </div><!--container-fluid-->  
  </body>
</html> 
