<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Datamonkey Adaptive Evolution Server</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
<!--    <meta http-equiv="refresh" content="6">-->

    <link href="/assets/js/datamonkey.css" rel="stylesheet">
    <link href="/assets/css/datamonkey.css" rel="stylesheet">

    <script src="/assets/js/vendor.js"></script>
    <script src="/assets/js/datamonkey.js"></script>

    <script type="text/javascript">
      $('.dropdown-toggle').dropdown();
    </script>


    <!-- Piwik -->
    <script type="text/javascript">
      var _paq = _paq || [];
      _paq.push(['trackPageView']);
      _paq.push(['enableLinkTracking']);
      (function() {
        var u="//datamonkey.org/piwik/";
        _paq.push(['setTrackerUrl', u+'piwik.php']);
        _paq.push(['setSiteId', 9]);
        var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
        g.type='text/javascript'; g.async=true; g.defer=true; g.src=u+'piwik.js'; s.parentNode.insertBefore(g,s);
      })();
    </script>
    <noscript><p><img src="//datamonkey.org/piwik/piwik.php?idsite=9" style="border:0;" alt="" /></p></noscript>
    <!-- End Piwik Code -->
  </head>

  <body>
    <div class="container-fluid p-0">
      <div class="row no-gutters">
        <div class="col-sm">
          <nav class="dm-navbar navbar navbar-expand-sm">
            <a class="navbar-brand" href="/"><img id="datamonkey-logo" src="/assets/img/header-logo.svg" alt="Datamonkey Logo" /></a>

            <button type="button" class="dm-mobile-menu dm-navbar-toggle navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>

            <div class="dm-nav-links">
              <div class="navbar-collapse collapse flex-wrap" aria-expanded="false">
                <div class="dm-dropdown dropdown">
                  <button class="dm-btn dm-dropdown-toggle btn dropdown-toggle" type="button" id="dropdownMenu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Methods and Tools
                  </button>
                  <div class="dm-dropdown-menu dropdown-menu" aria-labelledby="dropdownMenu">
                    <a class="dropdown-item" href="/absrel">aBSREL</a>
                    <a class="dropdown-item" href="/bgm">SpiderMonkey/BGM</a>
                    <a class="dropdown-item" href="/busted">BUSTED</a>
                    <a class="dropdown-item" href="/contrast_fel">Contrast-FEL <span class="badge badge-success">New</span> </a>
                    <a class="dropdown-item" href="/fade">FADE</a>
                    <a class="dropdown-item" href="/fel">FEL</a>
                    <a class="dropdown-item" href="/fubar">FUBAR</a>
                    <a class="dropdown-item" href="/gard">GARD</a>
                    <a class="dropdown-item" href="/hivtrace">HIV-TRACE</a>
                    <a class="dropdown-item" href="/meme">MEME</a>
                    <a class="dropdown-item" href="/relax">RELAX</a>
                    <a class="dropdown-item" href="/slac">SLAC</a>
                    <a class="dropdown-item" href="/analyses">All Methods</a>
                  </div>
                </div>
                <a href="/jobqueue">Job Queue</a>
                <a href="/stats">Usage statistics</a>
                <a href="/citations">Citations</a>
                <a href="/help">Help</a></li>
                <a href="http://classic.datamonkey.org" target="_blank"><i class="dm-fa fa-external-link-alt"></i> Classic</a>
              </div>
            </div>




            <div class="dm-nav-links d-none">
              <div class="navbar-collapse collapse" aria-expanded="false">
                <div class="dm-dropdown dropdown">
                  <button class="dm-btn dm-dropdown-toggle btn dropdown-toggle" type="button" id="dropdownMenu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Methods and Tools
                  </button>
                  <div class="dm-dropdown-menu dropdown-menu" aria-labelledby="dropdownMenu">
                    <a class="dropdown-item" href="/absrel">aBSREL</a>
                    <a class="dropdown-item" href="/busted">BUSTED</a>
                    <a class="dropdown-item" href="/fade">FADE <span class="badge badge-secondary fade_beta_badge">Beta</span></a>
                    <a class="dropdown-item" href="/fel">FEL</a>
                    <a class="dropdown-item" href="/fubar">FUBAR</a>
                    <a class="dropdown-item" href="/gard">GARD</a>
                    <a class="dropdown-item" href="/hivtrace">HIV-TRACE</a>
                    <a class="dropdown-item" href="/meme">MEME</a>
                    <a class="dropdown-item" href="/relax">RELAX</a>
                    <a class="dropdown-item" href="/slac">SLAC</a>
                    <a class="dropdown-item" href="/analyses">All Methods</a>
                  </div>
                </div>
                <a href="/jobqueue">Job Queue</a>
                <a href="/stats">Usage statistics</a>
                <a href="/citations">Citations</a>
                <a href="/help">Help</a></li>
                <a href="http://classic.datamonkey.org" target="_blank"><i class="dm-fa fa-external-link-alt"></i> Classic</a>
              </div>
            </div>





          </nav>
          <div class="clearance"></div>
        </div>
      </div><!--end row-->
