<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Datamonkey Adaptive Evolution Server</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
<!--    <meta http-equiv="refresh" content="6">-->

    <link href="/assets/js/datamonkey.css" rel="stylesheet">
    <link href="/assets/css/datamonkey.css" rel="stylesheet">

    <script src="/assets/js/vendor.js"></script>
    <script src="/assets/js/datamonkey.js"></script>

    <!-- Piwik -->
    <script type="text/javascript">
      var _paq = _paq || [];
      _paq.push(['trackPageView']);
      _paq.push(['enableLinkTracking']);
      (function() {
        var u="//datamonkey.org/piwik/";
        _paq.push(['setTrackerUrl', u+'piwik.php']);
        _paq.push(['setSiteId', 9]);
        var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
        g.type='text/javascript'; g.async=true; g.defer=true; g.src=u+'piwik.js'; s.parentNode.insertBefore(g,s);
      })();
    </script>
    <noscript><p><img src="//datamonkey.org/piwik/piwik.php?idsite=9" style="border:0;" alt="" /></p></noscript>
    <!-- End Piwik Code -->
  </head>

  <body>
    <div class="container-fluid p-0">
      <div class="row no-gutters">
        <div class="col-sm">
          <nav class="dm-navbar dm-nav-links navbar navbar-expand-sm">
            <a class="navbar-brand" href="/"><img id="datamonkey-logo" src="/assets/img/header-logo.svg" alt="Datamonkey Logo" /></a>
            
            <!--
              <ul class="dropdown-menu" role="menu">
                <li data-placement="left" title="An adaptive branch-site REL test for episodic diversification"><a href="/absrel">aBSREL</a></li>
                <li data-placement="left" title="Branch-site Unrestricted Statistical Test for Episodic Diversification"><a href="/busted">BUSTED</a></li>
                <li data-placement="left" title="Fixed Effects Likelihood"><a href="/fel">FEL</a></li>
                <li data-placement="left" title=""><a href="/fubar">FUBAR</a></li>
                <li data-placement="left" title=""><a href="/gard">GARD</a></li>
                <li data-placement="left" title="HIV Transmission Cluster Engine"><a href="/hivtrace">HIV-TRACE</a></li>
                <li data-placement="left" title="Mixed Effects Model of Evolution"><a href="/meme">MEME</a></li>
                <li data-placement="left" title="A test for relaxed/intensified selection"><a href="/relax">RELAX</a></li>
                <li data-placement="left" title=""><a href="/slac">SLAC</a></li>
                <li><a href="/analyses">All Methods</a></li>
              </ul>
            -->
              
            <div class="d-inline">
              <div class="dm-dropdown dropdown d-inline-block float-none">
                <button class="dm-btn dm-dropdown-toggle btn dropdown-toggle" type="button" id="dropdownMenu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Methods and Tools
                </button>
                <div class="dm-dropdown-menu dropdown-menu" aria-labelledby="dropdownMenu">
                  <a class="dropdown-item" href="/absrel">aBSREL</a>
                  <a class="dropdown-item" href="/busted">BUSTED</a>
                  <a class="dropdown-item" href="/fel">FEL</a>
                  <a class="dropdown-item" href="/fubar">FUBAR</a>
                  <a class="dropdown-item" href="/gard">GARD</a>
                  <a class="dropdown-item" href="/hivtrace">HIV-TRACE</a>
                  <a class="dropdown-item" href="/meme">MEME</a>
                  <a class="dropdown-item" href="/relax">RELAX</a>
                  <a class="dropdown-item" href="/slac">SLAC</a>
                  <a class="dropdown-item" href="/analyses">All Methods</a>
                </div>
              </div>
              <a href="/jobqueue">Job Queue</a>
              <a href="/stats">Usage statistics</a>
              <a href="/citations">Citations</a>
              <a href="/help">Help</a></li>
              <a href="http://classic.datamonkey.org" target="_blank"><i class="dm-fa fa fa-external-link"></i> Classic</a>
            </div>
          </nav>
        </div>
      </div><!--end row-->