<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Datamonkey Adaptive Evolution Server</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <link href="/assets/js/datamonkey.css" rel="stylesheet">
    <link href="/assets/css/datamonkey.css" rel="stylesheet">

    <script src="/assets/js/vendor.js"></script>
    <script src="/assets/js/datamonkey.js"></script>

    <!-- Piwik -->
    <script type="text/javascript">
      var _paq = _paq || [];
      _paq.push(['trackPageView']);
      _paq.push(['enableLinkTracking']);
      (function() {
        var u="//datamonkey.org/piwik/";
        _paq.push(['setTrackerUrl', u+'piwik.php']);
        _paq.push(['setSiteId', 9]);
        var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
        g.type='text/javascript'; g.async=true; g.defer=true; g.src=u+'piwik.js'; s.parentNode.insertBefore(g,s);
      })();
    </script>
    <noscript><p><img src="//datamonkey.org/piwik/piwik.php?idsite=9" style="border:0;" alt="" /></p></noscript>
    <!-- End Piwik Code -->

  </head>

  <body>

    <nav id = "datamonkey-header" class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-header">
        <a href="/"><img id="tiny-monkey-logo" src="/assets/img/header-logo.svg"/></a>
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
      </div>

      <div class="navbar-collapse collapse">
        <ul class="nav navbar-nav">
          <!--<li><a href="/msa">Analyze Your Data</a></li>-->
          <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Methods and Tools <span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <li data-toggle="tooltip" data-placement="right" title="An adaptive branch-site REL test for episodic diversification"><a href="/absrel">aBSREL</a></li>
            <li data-toggle="tooltip" data-placement="right" title="Bayesian Unrestricted Test for Episodic Diversification"><a href="/busted">BUSTED</a></li>
            <li data-toggle="tooltip" data-placement="right" title="Fixed Effects Likelihood"><a href="/fel">FEL</a></li>
            <li data-toggle="tooltip" data-placement="right" title=""><a href="/fubar">FUBAR</a></li>
            <li data-toggle="tooltip" data-placement="right" title=""><a href="/gard">GARD</a></li>
            <li data-toggle="tooltip" data-placement="right" title="HIV Transmission Cluster Engine"><a href="/hivtrace">HIV-TRACE</a></li>
            <li data-toggle="tooltip" data-placement="right" title="Mixed Effects Model of Evolution"><a href="/meme">MEME</a></li>
            <li data-toggle="tooltip" data-placement="right" title="Site-specific Biochemical Property Preferences and Constraints from Comparative Sequence Analysis"><a href="/prime">PRIME</a></li>
            <li data-toggle="tooltip" data-placement="right" title="A test for relaxed/intensified selection"><a href="/relax">RELAX</a></li>
            <li data-toggle="tooltip" data-placement="right" title=""><a href="/slac">SLAC</a></li>
            <li><a href="/analyses">List of all methods</a></li>
          </ul>
          </li>
          <li><a href="/jobqueue">Job Queue</a></li>
          <li><a href="/stats">Usage statistics</a></li>
          <li><a href="/help">Help</a></li>
        </ul>

      </div><!--/.nav-collapse -->
    </nav>

    <a href = "#" id = "collapse_nav_bar">
        <i style = "position: fixed; top: 5px; left: 5px; z-index: 100000000;" class="fa fa-times-circle">
        </i>
    </a>
