<%- include includes/header.ejs %>

<div class="container">

  <div class="row"> 
    <div class="datamonkey-sm-header">
      <h1>Datamonkey</h1>
      <p>A Collection of State of the Art Statistical Models and Bioinformatics Tools</p>
    </div>
  </div>


  <div class="row"> 

    <div class="col-md-2 pull-right">
      <img src="/assets/img/feed_the_monkey.png" />
    </div>

    <div class="col-md-10">  
      <h3>Help choosing an analysis</h3>

      <div id="initial">
        <p>What evolutionary force would you like to detect?</p>
        <div class="btn-group btn-group-justified" role="group" aria-label="...">
          <div class="btn-group" role="group">
            <button type="button" class="btn btn-default" id="selection-button">Selection</button>
          </div>
          <div class="btn-group" role="group">
            <button type="button" class="btn btn-default" id="recombination-button">Recombination</button>
          </div>
        </div>
      </div>

      <div id="selection" class="second" style="display:none;">
        <p>Would you like to detect selection along branches or sites?</p>
        <div class="btn-group btn-group-justified" role="group" aria-label="...">
          <div class="btn-group" role="group">
            <button type="button" id="branch-selection-button" class="btn btn-default">Branches</button>
          </div>
          <div class="btn-group" role="group">
            <button type="button" id="site-selection-button" class="btn btn-default">Sites</button>
          </div>
        </div>
      </div>

      <div id="recombination" class="second" style="display:none;">
        <p><strong>Recommended method:</strong> <a href="/gard">GARD - a Genetic Algorithm for Recombination Detection</a>.</p>
      </div>

      <div id="branch-selection" class="third" style="display:none;">
        <p>Do you want to detect adaptive or relaxed selection?</p>
        <div class="btn-group btn-group-justified" role="group" aria-label="...">
          <div class="btn-group" role="group">
            <button type="button" id="aBSREL-button" class="btn btn-default">Adaptive</button>
          </div>
          <div class="btn-group" role="group">
            <button type="button" id="RELAX-button" class="btn btn-default">Relaxed</button>
          </div>
        </div>
      </div>

      <div id="site-selection" class="third" style="display:none;">
        <p>Do you want to use BUSTED, FEL, MEME, FUBAR, or SLAC?</p>
        <div class="btn-group btn-group-justified" role="group" aria-label="...">
          <div class="btn-group" role="group">
            <button type="button" id="BUSTED-button" class="btn btn-default">BUSTED</button>
          </div>
          <div class="btn-group" role="group">
            <button type="button" id="FEL-button" class="btn btn-default">FEL</button>
          </div>
          <div class="btn-group" role="group">
            <button type="button" id="MEME-button" class="btn btn-default">MEME</button>
          </div>
          <div class="btn-group" role="group">
            <button type="button" id="FUBAR-button" class="btn btn-default">FUBAR</button>
          </div>
          <div class="btn-group" role="group">
            <button type="button" id="SLAC-button" class="btn btn-default">SLAC</button>
          </div>
        </div>
      </div>

      <div id="aBSREL" class="fourth" style="display:none;">
        <p><strong>Recommended method:</strong> <a href="/absrel">aBSREL - an Adaptive Branch-Site Relative Effects Likelihood model</a>.</p>
      </div>

      <div id="BUSTED" class="fourth" style="display:none;">
        <p><strong>Recommended method:</strong> <a href="/busted">BUSTED- a Branch-site Unrestricted Statistical Test for Episodic Diversification</a>.</p>
      </div>

      <div id="RELAX" class="fourth" style="display:none;">
        <p><strong>Recommended method:</strong> <a href="/relax">RELAX - a phylogenetic model for detecting relaxed selection</a>.</p>
      </div>

      <div id="MEME" class="fourth" style="display:none;">
        <p><strong>Recommended method:</strong> <a href="/meme">MEME - Mixed Effects Model of Evolution</a>.</p>
      </div>

      <div id="FEL" class="fourth" style="display:none;">
        <p><strong>Recommended method:</strong> <a href="/fel">FEL - Fixed Effects Likelihood</a>.</p>
      </div>

      <div id="FUBAR" class="fourth" style="display:none;">
        <p><strong>Recommended method:</strong> <a href="/fubar">FUBAR - Fast, Unconstrained Bayesian AppRoximation</a>.</p>
      </div>

      <div id="SLAC" class="fourth" style="display:none;">
        <p><strong>Recommended method:</strong> <a href="/slac">SLAC - Single Likelihood Ancestor Counting</a>.</p>
      </div>


    </div>
  </div>
</div>

<%- include includes/footer.ejs %>
<script src="/assets/js/datamonkey/analyses.js"></script>
<script type="text/javascript">
$(document).ready(function(){

  $('#selection-button').on('click', function(){
    $('.second,.third,.fourth').css('display', 'none');
    $('#selection').css('display', 'block');
  });

  $('#recombination-button').on('click', function(){
    $('.second,.third,.fourth').css('display', 'none');
    $('#recombination').css('display', 'block');
  });

  $('#branch-selection-button').on('click', function(){
    $('.third,.fourth').css('display', 'none');
    $('#branch-selection').css('display', 'block');
  });

  $('#site-selection-button').on('click', function(){
    $('.third,.fourth').css('display', 'none');
    $('#site-selection').css('display', 'block');
  });

  $('#aBSREL-button').on('click', function(){
    $('.fourth').css('display', 'none');
    $('#aBSREL').css('display', 'block');
  });

  $('#BUSTED-button').on('click', function(){
    $('.fourth').css('display', 'none');
    $('#BUSTED').css('display', 'block');
  });

  $('#RELAX-button').on('click', function(){
    $('.fourth').css('display', 'none');
    $('#RELAX').css('display', 'block');
  });

  $('#FEL-button').on('click', function(){
    $('.fourth').css('display', 'none');
    $('#FEL').css('display', 'block');
  });

  $('#MEME-button').on('click', function(){
    $('.fourth').css('display', 'none');
    $('#MEME').css('display', 'block');
  });

  $('#SLAC-button').on('click', function(){
    $('.fourth').css('display', 'none');
    $('#SLAC').css('display', 'block');
  });

  $('#FUBAR-button').on('click', function(){
    $('.fourth').css('display', 'none');
    $('#FUBAR').css('display', 'block');
  });


});
</script>
