<%- include("includes/header.ejs") %>

<div class="container dm-analysis-container">

  <div class="row"> 
    <div class="datamonkey-sm-header">
      <h1>Datamonkey</h1>
      <p>A Collection of State of the Art Statistical Models and Bioinformatics Tools</p>
    </div>
  </div>


  <div class="row"> 

  <div class="col-md-2 float-right">
    <img src="/assets/img/feed_the_monkey.png" />
  </div>

   <div class="col-md-10">  
    
    <!-- Alert -->
    <div class="bs-callout bs-callout-info">
      <p>
        If you need help deciding which model may be the right choice for
        testing your hypothesis, you may find our <a
        href="//hyphy.org/getting-started/#characterizing-selective-pressures">guidelines
        page</a> useful.
      </p>
    </div>

    <div class="bs-callout bs-callout-info">
      <p>
        For a full list of methods, please see either the <a href="/citations">citations page</a>, or the <a href="https://hyphy.org/methods/selection-methods/">HyPhy page</a>.
      </p>
    </div>

  </div>
</div>

<%- include("includes/footer.ejs") %>
<script src="/assets/js/datamonkey/analyses.js"></script>

