<%- include includes/header.ejs %>

<div class="col-md-2 pull-right">
  <nav id="sidebar" class="col-xs-3 bs-docs-sidebar">
    <ul class="nav nav-stacked fixed">
      <li>
        <a href="#analyses">Analyses</a>
        <ul class="nav nav-stacked">
          <!--<li>
            <a href="/absrel">aBSREL</a>
          </li>-->
          <li>
            <a href="/relax">RELAX</a>
          </li>
          <li>
            <a href="/busted">BUSTED</a>
          </li>
          <li>
            <a href="/hivtrace">HIV Trace</a>
          </li>
        </ul>
      </li>
      <li>
        <a href="#tools">Tools</a>
        <ul class="nav nav-stacked">
          <li>
            <a href="/treeviewer">Newick Tree Viewer</a>
          </li>
        </ul>
      </li>
    </ul>
  </nav>
</div>



<div class="container">
    <div class="datamonkey-sm-header">
      <h1>Datamonkey Suite</h1>
      <p>A Collection of State of the Art Statistical Models and Bioinformatics Tools</p>
    </div>

  <div class="row"> 

   <div class="col-md-10">  

    <div class="datamonkey-sm-header">
      <h1>Analyses</h1>
    </div>

<!--
    <div class="row">
      <div class="panel panel-default panel-datamonkey">
        <a href="absrel">
          <div class="panel-heading">
            <h3 class="panel-title">aBSREL</h3>
            <span class="pull-right glyphicon glyphicon-chevron-right hide"></span>
          </div>
        </a>
        <div class="panel-body">
          Statistical performance matching or exceeding best-in-class existing approaches, an order of magnitude faster.
        </div>
      </div>
    </div>
-->


    <div class="row">
      <div class="panel panel-default panel-datamonkey">
        <a href="relax">
          <div class="panel-heading">
            <h3 class="panel-title">RELAX</h3>
            <span class="pull-right glyphicon glyphicon-chevron-right hide"></span>
          </div>
        </a>
        <div class="panel-body">
          Detect relaxed selection in a codon-based phylogenetic framework.
        </div>
      </div>
    </div>

    <div class="row">
      <div class="panel panel-default panel-datamonkey">
        <a href="busted">
          <div class="panel-heading">
            <h3 class="panel-title">BUSTED</h3>
            <span class="pull-right glyphicon glyphicon-chevron-right hide"></span>
          </div>
        </a>
        <div class="panel-body">
          A new approach to identify gene-wide evidence of episodic positive selection.
        </div>
      </div>
    </div>

    <div class="row">
      <a href="hivtrace">
      <div class="panel panel-default panel-datamonkey">
        <div class="panel-heading">
          <h3 class="panel-title">HIV Trace</h3>
          <span class="pull-right glyphicon glyphicon-chevron-right hide"></span>
        </div>
        </a>
        <div class="panel-body">
          Network level analysis of HIV nucleotide sequences.
        </div>
      </div>
    </div>

    <div class="datamonkey-sm-header">
      <h1>Tools</h1>
    </div>

    <div class="row">
      <a href="treeviewer">
      <div class="panel panel-default panel-datamonkey">
        <div class="panel-heading">
          <h3 class="panel-title">Newick Tree Viewer</h3>
          <span class="pull-right glyphicon glyphicon-chevron-right hide"></span>
        </div>
        </a>
        <div class="panel-body">
          View, manipulate, and annotate Newick formatted trees from within your browser. 
        </div>
      </div>
 
    </div>


  </div>

</div>

<%- include includes/footer.ejs %>
<script src="/assets/js/datamonkey/analyses.js"></script>
