<%- include includes/header.ejs %>
<div class="container">
  <div class="row"> 
    <div class="datamonkey-sm-header">
      <h1>Datamonkey</h1>
      <p>A Collection of State of the Art Statistical Models and Bioinformatics Tools</p>
    </div>
  </div>
  <div id="main"></div>
</div>
<script>
  datamonkey_analysis_tree();
</script>
<%- include includes/footer.ejs %>
