<%- include includes/header.ejs %>
<div class="container">

  <div class="row">
    <div class="datamonkey-sm-header">
      <h1>Citations</h1>
    </div>
  </div>

  <div class="row">
    <h2>Webserver Citations</h2>
    <p>If you publish the results based on datamonkey.org we suggest the following citations. Please cite the Datamonkey and HyPhy application notes.</p>

    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Datamonkey</h3>
      </div>
      <div class="panel-body">

        <p>
          Steven Weaver, Stephen D Shank, Stephanie J Spielman, Michael Li, Spencer V Muse, Sergei L Kosakovsky Pond<br />
          <b>Datamonkey 2.0: a modern web application for characterizing selective and other evolutionary processes</b><br />
          Molecular biology and evolution, msx335<br />
          <a target="_blank" href='https://academic.oup.com/mbe/advance-article/doi/10.1093/molbev/msx335/4782511?searchresult=1' CLASS = 'REFERENCE'><i class="fa fa-external-link" aria-hidden="true"></i></a>
        </p>

        <p>
          Wayne Delport, Art F. Poon, Simon D. W. Frost and Sergei L. Kosakovsky Pond<br />
          <b>Datamonkey 2010: a suite of phylogenetic analysis tools for evolutionary biology</b><br />
          Bioinformatics 26(19): 2455-2457<br />
          <a target="_blank" href='https://academic.oup.com/bioinformatics/article-lookup/doi/10.1093/bioinformatics/btq429' CLASS = 'REFERENCE'><i class="fa fa-external-link" aria-hidden="true"></i></a>
        </p>

        <p>
          Sergei L. Kosakovsky Pond and  Simon D. W. Frost (2005)<br />
          <b>Datamonkey: rapid detection of selective pressure on individual sites of codon alignments</b><br />
          Bioinformatics 21(10): 2531-2533<br />
          <a target="_blank" href='http://bioinformatics.oxfordjournals.org/cgi/content/abstract/21/10/2531?ijkey=a5yRfKOnDZ1Kb6J&keytype=ref' CLASS = 'REFERENCE'><i class="fa fa-external-link" aria-hidden="true"></i></a>
        </p>
      </div>

    </div>

    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">HyPhy</h3>
      </div>
      <div class="panel-body">
        Sergei L. Kosakovsky Pond,  Simon D. W. Frost and Spencer V. Muse (2005)<br />
        <b>HyPhy: hypothesis testing using phylogenies</b><br />
        Bioinformatics 21(5): 676-679<br />
        <a target="_blank" href='http://bioinformatics.oxfordjournals.org/cgi/content/short/21/5/676' CLASS = 'REFERENCE'><i class="fa fa-external-link" aria-hidden="true"></i></a>
      </div>
    </div>
  </div>

  <div class="row">
    <h2>Method Citations</h2>
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">aBSREL</h3>
      </div>
      <div class="panel-body">

        <div>
          M. D. Smith and J. O. Wertheim and S. Weaver and B. Murrell and K. Scheffler and S. L. Kosakovsky Pond<br />
          <b>Less Is More: An Adaptive Branch-Site Random Effects Model for Efficient Detection of Episodic Diversifying Selection</b><br />
          Molecular Biology and Evolution 32: 1342-1353<br />
          <a target="_blank" href ='http://dx.doi.org/10.1093/molbev/msv022'><i class="fa fa-external-link" aria-hidden="true"></i></a>
        </div>

        <div>
          Sergei L. Kosakovsky Pond1, Ben Murrell, Mathieu Fourment, Simon D. W. Frost, Wayne Delport and Konrad Scheffler (2011)<br />
          <b>A random effects branch-site model for detecting episodic diversifying selection</b><br />
          Molecular Biology and Evolution 28(11): 3033-3043<br />
          <a target="_blank" href ='http://mbe.oxfordjournals.org/content/early/2011/06/11/molbev.msr125.abstract' CLASS = 'REFERENCE'><i class="fa fa-external-link" aria-hidden="true"></i></a>
        </div>

      </div>
    </div>

    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">BUSTED</h3>
      </div>
      <div class="panel-body">
        B. Murrell and S. Weaver and M. D. Smith and J. O. Wertheim and S. Murrell and A. Aylward and K. Eren and T. Pollner and D. P. Martin and D. M. Smith and K. Scheffler and S. L. Kosakovsky Pond<br />
        <b>Gene-Wide Identification of Episodic Selection</b><br />
        Molecular Biology and Evolution 32(5) 1365-1371<br />
        <a target="_blank" href ='https://academic.oup.com/mbe/article-lookup/doi/10.1093/molbev/msv035'><i class="fa fa-external-link" aria-hidden="true"></i></a>
      </div>
    </div>

    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">FEL</h3>
      </div>
      <div class="panel-body">
          Sergei L. Kosakovsky Pond and  Simon D. W. Frost (2005)<br />
          <b>Not So Different After All: A Comparison of Methods for Detecting Amino Acid Sites Under Selection</b><br />
          Molecular Biology and Evolution 22(5): 1208-1222<br />
          <a target="_blank" href='http://mbe.oxfordjournals.org/cgi/content/short/22/5/1208'><i class="fa fa-external-link" aria-hidden="true"></i></a>
      </div>
    </div>

    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">FUBAR</h3>
      </div>
      <div class="panel-body">
        B. Murrell and S. Moola and A. Mabona and T. Weighill and D. Sheward and S. L. Kosakovsky Pond and K. Scheffler<br />
        <b>FUBAR: a fast, unconstrained bayesian approximation for inferring selection</b><br />
        Molecular Biology and Evolution 30(5) : 1196-1205<br />
        <a target="_blank" href='https://academic.oup.com/mbe/article/30/5/1196/998247/FUBAR-A-Fast-Unconstrained-Bayesian-AppRoximation'><i class="fa fa-external-link" aria-hidden="true"></i></a>
      </div>
    </div>

    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">GARD</h3>
      </div>
      <div class="panel-body">
        Sergei L Kosakovsky Pond, David Posada, Michael B Gravenor, Christopher H Woelk and Simon DW Frost<br />
        <b>Automated Phylogenetic Detection of Recombination Using a Genetic Algorithm</b><br />
        Molecular Biology and Evolution 23(10): 1891-1901<br />
        <a target="_blank" href='http://mbe.oxfordjournals.org/cgi/content/full/23/10/1891'><i class="fa fa-external-link" aria-hidden="true"></i></a>
      </div>
    </div>

    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">MEME</h3>
      </div>
      <div class="panel-body">
        Ben Murrell, Joel O. Wertheim, Sasha Moola, Thomas Weighill, Konrad Scheffler, Sergei L. Kosakovsky Pond (2012)<br />
        <b>Detecting Individual Sites Subject to Episodic Diversifying Selection</b><br />
        PLoS Genetics 8(7): e1002764<br />
        <a target="_blank" href='http://www.plosgenetics.org/article/info%3Adoi%2F10.1371%2Fjournal.pgen.1002764'><i class="fa fa-external-link" aria-hidden="true"></i></a>
      </div>
    </div>

    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">RELAX</h3>
      </div>
      <div class="panel-body">
        J. O. Wertheim and B. Murrell and M. D. Smith and S. L. Kosakovsky Pond and K. Scheffler<br />
        <b>RELAX: detecting relaxed selection in a phylogenetic framework</b><br />
        Molecular Biology and Evolution 32(3): 820-832<br />
        <a target="_blank" href='https://academic.oup.com/mbe/article-lookup/doi/10.1093/molbev/msu400'><i class="fa fa-external-link" aria-hidden="true"></i></a>
      </div>
    </div>

    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">SLAC</h3>
      </div>
      <div class="panel-body">
        Sergei L. Kosakovsky Pond and  Simon D. W. Frost (2005)<br />
        <b>Not So Different After All: A Comparison of Methods for Detecting Amino Acid Sites Under Selection</b><br />
        Molecular Biology and Evolution 22(5): 1208-1222<br />
        <a target="_blank" href='http://mbe.oxfordjournals.org/cgi/content/short/22/5/1208'><i class="fa fa-external-link" aria-hidden="true"></i></a>
      </div>
    </div>
  </div>
</div>

<%- include includes/footer.ejs %>
