<%- include includes/header.ejs %>
<div class="container">
    <div class = "row">
        <div class = "col-md-12">
            <h3>Data retention and storage</h3>
            <p>
Uploaded alignments and result files are stored on the server for a maximum of 96 hours. We do not record any association between data files and IP addresses. For the purpose of usage reporting we will collect and store summary statistics, e.g. the number of sequences the number of sites under selection. No sequence data are ever retained for more than 5 days or used in any way not directly associated with the purpose of this site. Each job is assigned a unique ID and the information page for that job can be used to see how much time is left before the job becomes expired. Expired jobs are deleted at 12:01 AM Pacific Standard Time daily.
            </p>
        </div>
    </div>
</div>
<%- include includes/footer.ejs %>
