<div class="alert prime-banner sticky-top" role="alert" style="margin-bottom: 0px;">
  <strong>New Method!</strong> <strong>PRIME</strong> (PRoperty Informed Models of Evolution) &mdash; characterize physicochemical selection pressures driving protein evolution.
  <a href="https://v3.datamonkey.org" target="_blank" class="alert-link">Run PRIME on Datamonkey v3</a> |
  <a href="https://www.biorxiv.org/content/10.64898/2026.03.09.710461v1" target="_blank" class="alert-link">Read the preprint</a>
</div>
<%if (warning_message) { %>
  <div class="alert alert-warning sticky-top" role="alert" style="margin-bottom: 0px;"> <%- warning_message %> </div>
<% } %>
<%- include('includes/header.ejs') %>
  <div id="main">
  </div>
<script>
  datamonkey_analysis_tree("main", true);
</script>
<%- include('includes/footer.ejs') %>
