<div class="alert alert-info sticky-top" role="alert" style="margin-bottom: 0px;">
  <strong>New!</strong> Check out Datamonkey v3 at <a href="https://v3.datamonkey.org" target="_blank" class="alert-link">v3.datamonkey.org</a> - currently in Beta with enhanced features and improved performance.
</div>
<%if (warning_message) { %>
  <div class="alert alert-warning sticky-top" role="alert" style="margin-bottom: 0px;"> <%- warning_message %> </div>
<% } %>
<%- include('includes/header.ejs') %>
  <div id="main">
  </div>
<script>
  datamonkey_analysis_tree("main", true);
</script>
<%- include('includes/footer.ejs') %>
