<%if (warning_message) { %>
  <div class="alert alert-warning sticky-top" role="alert" style="margin-bottom: 0px;"> <%- warning_message %> </div>
<% } %>
<%- include includes/header.ejs %>
  <div id="main">
  </div>
<script>
  datamonkey_analysis_tree("main", true);
</script>
<%- include includes/footer.ejs %>
