<%- include includes/header.ejs %>


<div class="container">
  <div class="datamonkey-header">
    <h1>Datamonkey</h1>
    <p>
      Welcome to the free public server for comparative analysis of sequence alignments using state-of-the-art statistical models. 
      <br/>
      This service is brought to you by <a href="//igem.temple.edu">Institute for Genomics and Evolutionary Medicine</a> at Temple University, Philadelphia.
    </p>
    <p class="lead">
      <a href="/overview" class="btn-lg btn-primary btn-outline-inverse">Overview</a>
      <a href="/analyses" class="btn-lg btn-primary btn-outline-inverse">Get Started</a>
    </p>
  </div>
</div>


<%- include includes/footer.ejs %>
