<%- include includes/header.ejs %>

<div id="content" class="container">
  <h1 class="page-header">Job Queue</h1>
  <div id='table'></div>
</div>

<script src="/assets/js/jobqueue.js"></script>

<%- include includes/footer.ejs %>
