<%- include includes/header.ejs %>

<div id="content" class="container">
  <div class="row">
    <div class="col">
      <h1>Job Queue</h1>
      <p class="d-block d-sm-none"><em>(Swipe right to view table)</em></p>
      <div id="table"></div>
    </div>
  </div>
</div>

<script>
datamonkey_jobqueue();
</script>

<%- include includes/footer.ejs %>
