<%- include("includes/header.ejs") %>
<link href="/assets/css/stats.css" rel="stylesheet">
<div class="container">
  <div class="row">
    <div class="col-md-10 col-md-offset-1">
      <h1>Usage Statistics</h1>
      <div id="main"></div>
    </div>
  </div>
</div>
<script>
  datamonkey_stats();
</script>
<%- include("includes/footer.ejs") %>
