<%- include includes/header.ejs %>
<link href="/assets/css/stats.css" rel="stylesheet">
<div class="container">
  <h1 class="page-header">Datamonkey Usage Statistics</h1>
  <div id="main"></div>
</div>
<%- include includes/footer.ejs %>
<script src="/assets/js/stats.js"></script>
